force-app/main/default/flows/MSN_WorkOrder_CreateReinstatementJobs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Assign the Custom Box Work Order to the Work Order Records Collection Variable</description>
        <name>Assign_CustomBox_WorkOrder_to_Collection</name>
        <label>Assign Custom Box Work Order to Collection</label>
        <locationX>578</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>var_WorkOrder_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_WorkOrder_SingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_WorkOrder_Record_Variable_CustomBox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values for a new &quot;Reinstatement - Custom Box&quot; Child Work Order - taking over most values from the Work Order triggering this Flow, and assigning some new values such as the work type etc.</description>
        <name>Assign_Field_Values_for_CustomBox_WorkOrder</name>
        <label>Assign Field Values for &quot;Custom Box&quot; Work Order</label>
        <locationX>578</locationX>
        <locationY>2942</locationY>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CustomBox_Work_Type.MSN_Default_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_CreateReinstatementJobs_CustomBox_Instructions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CustomBox_Work_Type.EstimatedDuration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.DurationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CustomBox_Work_Type.DurationType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.Longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_Reinstatement_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.MSN_Reinstatement_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_Reinstatement_ServiceHazards__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.MSN_Reinstatement_ServiceHazards__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_Reinstatement_Surface_Depth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.MSN_Reinstatement_Surface_Depth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_Reinstatement_Surface_Length__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.MSN_Reinstatement_Surface_Length__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_Reinstatement_Surface_Width__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.MSN_Reinstatement_Surface_Width__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_Reinstatement_BoxingRequired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_CreateReinstatementJobs_CustomBox_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.ParentWorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.RootWorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Reinstatement_Work_Order_Record_Type_CustomBox.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CustomBox_Work_Type.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CustomBox_Work_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_Reinstatement_WorkSiteDetails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.MSN_Reinstatement_WorkSiteDetails__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CustomBox_WorkOrder_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values for a new &quot;Reinstatement - Traffic Management&quot; Child Work Order - taking over most values from the Work Order triggering this Flow, and assigning some new values such as the work type etc.</description>
        <name>Assign_Field_Values_for_TrafficManagement_WorkOrder</name>
        <label>Assign Field Values for &quot;Traffic Management&quot; Work Order</label>
        <locationX>578</locationX>
        <locationY>3758</locationY>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Traffic_Control_Work_Type.MSN_Default_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Traffic_Control_Work_Type.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Traffic_Control_Work_Type.EstimatedDuration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.DurationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Traffic_Control_Work_Type.DurationType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.Longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_Reinstatement_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.MSN_Reinstatement_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_Reinstatement_ServiceHazards__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.MSN_Reinstatement_ServiceHazards__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_Reinstatement_Surface_Depth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.MSN_Reinstatement_Surface_Depth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_Reinstatement_Surface_Length__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.MSN_Reinstatement_Surface_Length__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_Reinstatement_Surface_Width__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.MSN_Reinstatement_Surface_Width__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.ParentWorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.RootWorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Reinstatement_Work_Order_Record_Type_TrafficControl.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Traffic_Control_Work_Type.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Traffic_Control_Work_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_Reinstatement_WorkSiteDetails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.MSN_Reinstatement_WorkSiteDetails__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_TrafficControl_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.MSN_TrafficControl_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_TrafficControl_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_CreateReinstatementJobs_TrafficControl_Instructions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_TrafficControl_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.MSN_TrafficControl_Required__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TrafficControl_WorkOrder_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Count the &quot;Start Number&quot; Variable up in order to parse through the text string with the 18 digit record Ids separated by a comma.</description>
        <name>Assign_Increase_Start_Number</name>
        <label>Increase Start Number</label>
        <locationX>314</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>var_StartNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>19.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Decision_Parse_through_Selected_Reinstatement_Jobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Count the &quot;Start Number&quot; Variable up in order to parse through the text string with the 18 digit record Ids separated by a comma.</description>
        <name>Assign_Increase_Start_Number_if_String_Starts_with_Semicolon</name>
        <label>Increase Start Number - if String starts with Semicolon</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>var_StartNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Decision_Parse_through_Selected_Reinstatement_Jobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the Work Order Ids of the selected Reinstatement Jobs from the Checkbox Group of the previous screen to this variable as a comma-separated string.</description>
        <name>Assign_Selected_Reinstatement_Job_Ids</name>
        <label>Assign Selected Reinstatement Jobs Work Order Ids</label>
        <locationX>380</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>var_Selected_ReinstatementSteps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Screen_CreateReinstatementJobs_Prerequisites_CheckboxGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Selected_ReinstatementSteps</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Selected_ReinstatementSteps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Screen_CreateReinstatementJobs_HardSurface_CheckboxGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Parse_through_Selected_Reinstatement_Jobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Values for the Single Service Appointment that is later to be added to the collection of Service Appointments that should be created.</description>
        <name>Assign_Service_Appointment_Details</name>
        <label>Assign Service Appointment Details</label>
        <locationX>314</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>var_ServiceAppointment_SingleRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkType_Details_for_ReinstatementStep.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceAppointment_SingleRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkType_Details_for_ReinstatementStep.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceAppointment_SingleRecord.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceAppointment_SingleRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceAppointment_SingleRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceAppointment_SingleRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceAppointment_SingleRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceAppointment_SingleRecord.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.Longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceAppointment_SingleRecord.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceAppointment_SingleRecord.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceAppointment_SingleRecord.FSL__IsFillInCandidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceAppointment_SingleRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceAppointment_SingleRecord.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceAppointment_SingleRecord.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_ServiceAppointment_DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceAppointment_SingleRecord.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkType_Details_for_ReinstatementStep.EstimatedDuration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceAppointment_SingleRecord.DurationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkType_Details_for_ReinstatementStep.DurationType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceAppointment_SingleRecord.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.Priority</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_Service_Appointment_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the previously assigned Single Service Appointment Record to the Records Collection Variable</description>
        <name>Assign_Single_Service_Appointment_to_Collection</name>
        <label>Assign Single Service Appointment to Collection</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>var_ServiceAppointment_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ServiceAppointment_SingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Increase_Start_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values for a new Steel Plates Child Work Order - taking over most values from the Work Order triggering this Flow, and assigning some new values such as the work type etc.</description>
        <name>Assign_SteelPlates_WorkOrder_FieldValues</name>
        <label>Assign Field Values for &quot;Steel Plates&quot; Work Order</label>
        <locationX>578</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SteelPlates_Work_Type.MSN_Default_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_CreateReinstatementJobs_SteelPlates_Instructions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SteelPlates_Work_Type.EstimatedDuration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.DurationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SteelPlates_Work_Type.DurationType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.Longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_Reinstatement_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.MSN_Reinstatement_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_Reinstatement_ServiceHazards__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.MSN_Reinstatement_ServiceHazards__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_Reinstatement_Surface_Depth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.MSN_Reinstatement_Surface_Depth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_Reinstatement_Surface_Length__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.MSN_Reinstatement_Surface_Length__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_Reinstatement_Surface_Width__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.MSN_Reinstatement_Surface_Width__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_Steel_Plates_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_CreateReinstatementJobs_SteelPlates_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.ParentWorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.RootWorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Reinstatement_Work_Order_Record_Type_SteelPlates.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SteelPlates_Work_Type.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SteelPlates_Work_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord.MSN_Reinstatement_WorkSiteDetails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.MSN_Reinstatement_WorkSiteDetails__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SteelPlates_WorkOrder_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Steel Plates Work Order to the Work Order Records Collection Variable</description>
        <name>Assign_SteelPlates_WorkOrder_to_Collection</name>
        <label>Assign Steel Plates Work Order to Collection</label>
        <locationX>578</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>var_WorkOrder_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_WorkOrder_SingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_WorkOrder_Record_Variable_SteelPlates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Reinstatement Traffic Control Work Order to the Work Order Records Collection Variable</description>
        <name>Assign_TrafficControl_WorkOrder_to_Collection</name>
        <label>Assign Traffic Control Work Order to Collection</label>
        <locationX>578</locationX>
        <locationY>3878</locationY>
        <assignmentItems>
            <assignToReference>var_WorkOrder_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_WorkOrder_SingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_WorkOrders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WorkType_RecordIds_to_Multi_Select_Variable</name>
        <label>Add Work Type Record Id to Multi-Select Variable</label>
        <locationX>468</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>var_Prepopulate_ReinstatementSteps</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Loop_Prepopulate_Reinstatement_Steps.MSN_Child_Reinstatement_WorkType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prepopulate_Reinstatement_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Record Id of the &quot;Child Reinstatement Work Type&quot; in the current loop element to the multi-select picklist variable &quot;var_Prepopulate_ReinstatementPrerequisites&quot;</description>
        <name>Assign_WorkType_RecordIds_to_Multi_Select_Variable_0</name>
        <label>Add Work Type Record Id to Multi-Select Variable</label>
        <locationX>468</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>var_Prepopulate_ReinstatementPrerequisites</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Loop_Prepopulate_Prerequisites.MSN_Child_Reinstatement_WorkType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prepopulate_Prerequisites</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Remove all values from the shared record variable &quot;var_WorkOrder_SingleRecord&quot;</description>
        <name>Reset_WorkOrder_Record_Variable_CustomBox</name>
        <label>Reset Work Order Record Variable</label>
        <locationX>578</locationX>
        <locationY>3182</locationY>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Decision_TrafficControlRequired</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Remove all values from the shared record variable &quot;var_WorkOrder_SingleRecord&quot;</description>
        <name>Reset_WorkOrder_Record_Variable_SteelPlates</name>
        <label>Reset Work Order Record Variable</label>
        <locationX>578</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>var_WorkOrder_SingleRecord</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Decision_CustomBoxRequired</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This decision element checks, whether certain checkbox fields (e.g No Parkers required, Backfill required, boxing required) are set on the Work Order that launched this flow - and if so, it populates the multi-picklist variable &quot;var_Prepopulate_ReinstatementPrerequisites&quot; by adding the Record Id of the Work Type looked up in the current loop element of &quot;Get Reinstatement Prerequisites&quot; to the variable. The variable &quot;var_Prepopulate_ReinstatementPrerequisites&quot; is then assigned as the standard value to the Checkbox Group &quot;Select required Prerequisites&quot; in the following screen element in order to pre-select the options or the user.</description>
        <name>Check_prepopulated_Values_on_Work_Order</name>
        <label>Check prepopulated Values on Work Order</label>
        <locationX>996</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Loop_Prepopulate_Prerequisites</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Prerequisites prepopulated</defaultConnectorLabel>
        <rules>
            <name>outcome_NoParkers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Work_Order_Details.MSN_Reinstatement_NoParkers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Prepopulate_Prerequisites.MSN_Child_WorkType_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No Parkers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WorkType_RecordIds_to_Multi_Select_Variable_0</targetReference>
            </connector>
            <label>No Parkers</label>
        </rules>
        <rules>
            <name>outcome_Backfill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Work_Order_Details.MSN_Reintatement_BackfillRequired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Prepopulate_Prerequisites.MSN_Child_WorkType_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Backfill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_WorkType_RecordIds_to_Multi_Select_Variable_0</targetReference>
            </connector>
            <label>Backfill</label>
        </rules>
        <rules>
            <name>outcome_Boxing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Work_Order_Details.MSN_Reinstatement_BoxingRequired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Prepopulate_Prerequisites.MSN_Child_WorkType_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Boxing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_WorkType_RecordIds_to_Multi_Select_Variable_0</targetReference>
            </connector>
            <label>Boxing</label>
        </rules>
        <rules>
            <name>outcome_LetterDrop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Work_Order_Details.MSN_Reinstatement_LetterdropRequired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Prepopulate_Prerequisites.MSN_Child_WorkType_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Letter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_WorkType_RecordIds_to_Multi_Select_Variable_0</targetReference>
            </connector>
            <label>Letter Drop</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether &quot;Custom Box required&quot; was selected as &quot;true&quot;. If so, follow the path to create an additional child work order related to the Work Order triggering this flow. If &quot;Custom Box Required&quot; was not selected, then proceed without creating a Work Order.</description>
        <name>Decision_CustomBoxRequired</name>
        <label>Custom Box Required?</label>
        <locationX>710</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>Decision_TrafficControlRequired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Custom Box not required</defaultConnectorLabel>
        <rules>
            <name>outcome_CustomBoxRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Screen_CreateReinstatementJobs_CustomBox_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reinstatement_Work_Order_Record_Type_CustomBox</targetReference>
            </connector>
            <label>Custom Box required</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether the user has made a selection in the checkbox group element &quot;Select Required Reinstatement Jobs&quot;</description>
        <name>Decision_Parse_through_Selected_Reinstatement_Jobs</name>
        <label>Parse through Selected Reinstatement Jobs</label>
        <locationX>380</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Decision_SteelPlatesRequired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>End of Parsing/Loop</defaultConnectorLabel>
        <rules>
            <name>outcome_Variable_Starts_With_Semicolon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_Parse18digitWorkTypeRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Increase_Start_Number_if_String_Starts_with_Semicolon</targetReference>
            </connector>
            <label>Loop Variable starts with ;</label>
        </rules>
        <rules>
            <name>outcome_StartLoop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_Parse18digitWorkTypeRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WorkType_Details_for_ReinstatementStep</targetReference>
            </connector>
            <label>Start Parsing/Loop</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether &quot;Steel Plates&quot; was selected as &quot;true&quot;. If so, follow the path to create an additional child work order related to the Work Order triggering this flow. If &quot;Steel Plates required&quot; was not selected, then proceed without creating a Work Order.</description>
        <name>Decision_SteelPlatesRequired</name>
        <label>Steel Plates Required?</label>
        <locationX>710</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Decision_CustomBoxRequired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Steel Plates not required</defaultConnectorLabel>
        <rules>
            <name>outcome_SteelPlatesRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Screen_CreateReinstatementJobs_SteelPlates_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reinstatement_Work_Order_Record_Type_SteelPlates</targetReference>
            </connector>
            <label>Steel Plates required</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether &quot;Traffic Control is required&quot; was selected as &quot;true&quot;. If so, follow the path to create an additional child work order related to the Work Order triggering this flow. If &quot;traffic control&quot; was not selected, then proceed without creating a Work Order.</description>
        <name>Decision_TrafficControlRequired</name>
        <label>Traffic Control Required?</label>
        <locationX>710</locationX>
        <locationY>3398</locationY>
        <defaultConnector>
            <targetReference>Create_new_WorkOrders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Traffic Control not required</defaultConnectorLabel>
        <rules>
            <name>outcome_TrafficControlRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Screen_CreateReinstatementJobs_TrafficControl_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reinstatement_Work_Order_Record_Type_TrafficControl</targetReference>
            </connector>
            <label>Traffic Control required</label>
        </rules>
    </decisions>
    <description>24/03/2022 - Version 1: Initial Version built from requirements specified in https://watercarestp.atlassian.net/browse/MSRS-571

27/03/2022 - Version 2: Amend Flow to include &quot;Reinstatement Prequisites&quot; (e.g. Backfill, No Parkers, etc.) as a Checkbox Group instead of single Checkbox items; Prefill Reinstatement Prerequisite Checkbox Group from selected checkboxes on the Work Order by looping over the Get Element and using a decision element in the loop. 

28/03/2022 - Version 3:  Clean up Flow Element Labels and Descriptions

28/03/2022 - Version 4:  Add Letterdrop into the decision element for &quot;Determine Reinstatement Prerequisites&quot;

28/03/2022 - Version 5: Made the checkbox group &quot;select all required reinstatement jobs&quot; mandatory in order to prevent the user does not select anything in the first section of the screen.

27/04/2022 - Version 6: Apply bugfix after identifying problem when User did not select a &quot;Prerequisite&quot; job as outlined in https://watercarestp.atlassian.net/browse/MSRS-943; Added a decision path in the &quot;Parse through Selected Reinstatement Jobs&quot; decision element that checks whether the formula/variable starts with a &quot;;&quot; (semicolon) and if so, increase the count variable by 1.

17/08/2022 - Version 7/8: Add the option &quot;Steel Plates required&quot; into flow screen in order to give the JC the option to create a child work order for Steel Plates after the flow finishes; See https://watercarestp.atlassian.net/browse/MSRS-1906 for details;  Fix problem that Traffic management notes field from screen was not written onto Traffic Management work order if changed on screen.

18/08/2022 - Version 9:  Rework Layout and options on &quot;Create Reinstatement Screen&quot; as requested in https://watercarestp.atlassian.net/browse/MSRS-1906 and separate out &quot;Custom Box&quot; and &quot;Steel Plates&quot; into the external jobs section.

26/08/2022 - Version 10: Fix Issue with &quot;Custom Box&quot; not being prepopulated on flow screen when checkbox has been set on work order record

26/08/2022 - Version 11: Fix Issue with Work Order Create elements for &quot;Steel Plates&quot;, &quot;Custom Box&quot; and &quot;Traffic Management&quot; - take out unnecessary field details from each option (e.g. no &quot;custom box required&quot; on a Steel Plates work order)

18/11/2022 - Version 12: Change &quot;ParentWorkOrderId&quot; in each Create Work Order action (for Steelplates, Traffic Control, Custom Box) to use the Parent (=Root) Work Order Id of the Work Order triggering this flow as requested in https://watercarestp.atlassian.net/browse/MSRS-2560. This is required to satisfy the EAM child work order integration requirements so that a &quot;Grand Children Work Order&quot; hierarchy is avoided in Salesforce when the flow potentially would otherwise create additional child work orders  underneath a Work Order that is already a child to its parent Work Order.

16/01/2023 - V13: Amended all &quot;Get Work Type&quot; elements to retrieve and store the &quot;Default Asset Id&quot; field into the variable; Amended all &quot;Create new Work Order&quot; elements to populate the field &quot;Asset Id&quot; with the Default Asset Id looked up in the previous Get elements; This is required as any new Child Work Orders created in Salesforce require an Asset in order to be created into EAM accordingly.

20/01/2023 - V14:  Added Address and Duration fields to all &quot;Create Work Order&quot; elements after experiencing issues the address has not been populated when a new Work Order of that type was raised from the mobile app.

20/01/2023 - V15: Completely reworked the creation of additional Reinstatement Work Orders logic to use a Work Order Collection Variable and a bulkified &quot;Create Multiple Records&quot; element instead of individual create records elements; This was required after experiencing issues with Child Work Orders not being sent to EAM via the integration because the APEX trigger cannot handle multiple records being created from the flow in the same transaction.</description>
    <dynamicChoiceSets>
        <description>Used to determine the Street Level for the required Traffic control</description>
        <name>ch_TrafficControlLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MSN_TrafficControl_Level__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Used to store all Reinstatement Prerequisites looked up by the get element &quot;Get Reinstatement Work Steps&quot;. This will then be used in the Screen Element as a checkbox choice list in the checkbox group &quot;Select all required reinstatement jobs&quot;</description>
        <name>var_Reinstatement_Prerequisites_Collection</name>
        <collectionReference>Get_Reinstatement_Prerequisites</collectionReference>
        <dataType>String</dataType>
        <displayField>MSN_Child_WorkType_Name__c</displayField>
        <object>MSN_WorkType_Reinstatement_Step__c</object>
        <valueField>MSN_Child_Reinstatement_WorkType__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Used to store all Reinstatement Steps looked up by the get element &quot;Get Reinstatement Steps&quot;. This will then be used in the Screen Element as a checkbox choice list in the checkbox group &quot;Select all required reinstatement jobs&quot;</description>
        <name>var_ReinstatementWorkSteps_Collection</name>
        <collectionReference>Get_Reinstatement_Steps</collectionReference>
        <dataType>String</dataType>
        <displayField>MSN_Child_WorkType_Name__c</displayField>
        <object>MSN_WorkType_Reinstatement_Step__c</object>
        <valueField>MSN_Child_Reinstatement_WorkType__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Required for parsing a single Work Order Record ID that is part of the multi-select picklist/checkbox group comma separated string that comes out from the user selection on the element &quot;Select all required Reinstatement Jobs&quot;. The MID formula returns a specified number of characters from the middle of a text string given the starting position.</description>
        <name>fx_Parse18digitWorkTypeRecordId</name>
        <dataType>String</dataType>
        <expression>MID( {!var_Selected_ReinstatementSteps}, {!var_StartNumber}, 18)</expression>
    </formulas>
    <formulas>
        <description>Calculate the &quot;Due Date&quot; of the new Reinstatement Service Appointments that are created in this flow. This formula adds 30 days to the &quot;Work Order Creation Date&quot; as requested by the business stakeholders.</description>
        <name>fx_ServiceAppointment_DueDate</name>
        <dataType>DateTime</dataType>
        <expression>{!Get_Current_Work_Order_Details.CreatedDate}+30</expression>
    </formulas>
    <interviewLabel>MSN - Work Order - Create Required Reinstatement Jobs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MSN - Work Order - Create Required Reinstatement Jobs</label>
    <loops>
        <description>This Loop Element is used to loop over the &quot;Reinstatement Requisites&quot; looked up in the previous &quot;Get Reinstatement Prerequisites&quot; elements and then populate a new multi-select picklist variable  &quot;var_Prepopulate_ReinstatementPrerequisites&quot; depending on the decision element &quot;Check prepopulated Prerequisites&quot; that checks if certain flags on the Work Order have been checked before. This is required as the &quot;Checkbox Group&quot; elements on the subsequent screen otherwise cannot be prepopulated to be &quot;checked&quot; upon opening of this flow. The populated multi-select variable &quot;var_Prepopulate_ReinstatementPrerequisites&quot; is then assigned as the standard value to the Checkbox Group &quot;Select Required Reinstatement Steps &quot; in the Screen element. This pre-checks all checkboxes that also are checked on the Work Order within the screen element accordingly upon opening of the flow.</description>
        <name>Loop_Prepopulate_Prerequisites</name>
        <label>Prepopulate Prerequisites</label>
        <locationX>380</locationX>
        <locationY>854</locationY>
        <collectionReference>Get_Reinstatement_Prerequisites</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_prepopulated_Values_on_Work_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen_CreateReinstatementJobs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This Loop Element is used to loop over the &quot;Reinstatement Steps&quot; looked up in the previous &quot;Get Reinstatement Steps&quot; elements, and then populate a new multi-select picklist variable  &quot;var_Prepopulate_ReinstatementSteps&quot; with each Record Id within the collection. This is required as the &quot;Checkbox Group&quot; elements on the subsequent screen otherwise cannot be prepopulated to be &quot;checked&quot; upon opening of this flow. The populated multi-select variable &quot;var_Prepopulate_ReinstatementSteps&quot; is then assigned as the standard value to the Checkbox Group &quot;Select Required Reinstatement Steps &quot; in the Screen element. This pre-checks all checkboxes within the screen element accordingly upon opening of the flow, so that the user does not have to check all those manually.</description>
        <name>Loop_Prepopulate_Reinstatement_Steps</name>
        <label>Prepopulate Reinstatement Steps</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Reinstatement_Steps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_WorkType_RecordIds_to_Multi_Select_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Prepopulate_Prerequisites</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create new Service Appointments from the Record Collection Variable.</description>
        <name>Create_new_ServiceAppointments</name>
        <label>Create Service Appointments from Collection</label>
        <locationX>710</locationX>
        <locationY>4214</locationY>
        <inputReference>var_ServiceAppointment_Collection</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create new Work Orders from the Record Collection Variable &quot;var_WorkOrder_Collection&quot;.</description>
        <name>Create_new_WorkOrders</name>
        <label>Create new Work Orders from Collection</label>
        <locationX>710</locationX>
        <locationY>4094</locationY>
        <connector>
            <targetReference>Create_new_ServiceAppointments</targetReference>
        </connector>
        <inputReference>var_WorkOrder_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Lookup Record Details from the Work Order triggering this flow-  this will be used later in additional lookups, assignment and record creation elements.</description>
        <name>Get_Current_Work_Order_Details</name>
        <label>Get Current Work Order Details</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reinstatement_Steps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CustomBox_Work_Type</name>
        <label>Get Custom Box Work Type</label>
        <locationX>578</locationX>
        <locationY>2822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Field_Values_for_CustomBox_WorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reinstatement - Custom box</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DurationType</queriedFields>
        <queriedFields>EstimatedDuration</queriedFields>
        <queriedFields>MSN_Default_Asset__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all related &quot;Reinstatement Prerequisites&quot; for the Work Type of the work order that triggered this flow. This will be used to give the users a checkbox group with choices for &quot;Prerequisite Jobs&quot; on the following screen.</description>
        <name>Get_Reinstatement_Prerequisites</name>
        <label>Get Reinstatement Prerequisites for Hard Surface</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Prepopulate_Reinstatement_Steps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MSN_Parent_Reinstatement_WorkType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.WorkTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MSN_Reinstatement_Step_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reinstatement Prerequisite</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MSN_WorkType_Reinstatement_Step__c</object>
        <sortField>MSN_ReinstatementStep_Execution_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all related &quot;Reinstatement Steps&quot; for the Work Type of the work order that triggered this flow. This will be used to give the users a checkbox group with choices on the following screen.</description>
        <name>Get_Reinstatement_Steps</name>
        <label>Get Reinstatement Work Steps for Hard Surface</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reinstatement_Prerequisites</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MSN_Parent_Reinstatement_WorkType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Work_Order_Details.WorkTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MSN_Reinstatement_Step_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reinstatement Work Step</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MSN_WorkType_Reinstatement_Step__c</object>
        <sortField>MSN_ReinstatementStep_Execution_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Work Order Record Type &quot;Reinstatement&quot; prior assigning it in the subsequent create element to the new Work Order.</description>
        <name>Get_Reinstatement_Work_Order_Record_Type_CustomBox</name>
        <label>Get Reinstatement Work Order Record Type</label>
        <locationX>578</locationX>
        <locationY>2702</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CustomBox_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSN_Reinstatement_WorkOrder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Work Order Record Type &quot;Reinstatement&quot; prior assigning it in the subsequent create element to the new Work Order.</description>
        <name>Get_Reinstatement_Work_Order_Record_Type_SteelPlates</name>
        <label>Get Reinstatement Work Order Record Type</label>
        <locationX>578</locationX>
        <locationY>1886</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SteelPlates_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSN_Reinstatement_WorkOrder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Work Order Record Type &quot;Reinstatement&quot; prior assigning it in the subsequent create element to the new Work Order.</description>
        <name>Get_Reinstatement_Work_Order_Record_Type_TrafficControl</name>
        <label>Get Reinstatement Work Order Record Type</label>
        <locationX>578</locationX>
        <locationY>3518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Traffic_Control_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSN_Reinstatement_WorkOrder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SteelPlates_Work_Type</name>
        <label>Get Steel Plates Work Type</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SteelPlates_WorkOrder_FieldValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Steel Plates - Reinstatement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DurationType</queriedFields>
        <queriedFields>EstimatedDuration</queriedFields>
        <queriedFields>MSN_Default_Asset__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Traffic_Control_Work_Type</name>
        <label>Get Traffic Control Work Type</label>
        <locationX>578</locationX>
        <locationY>3638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Field_Values_for_TrafficManagement_WorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Traffic Mgmt - Reinstatement Works</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DurationType</queriedFields>
        <queriedFields>EstimatedDuration</queriedFields>
        <queriedFields>MSN_Default_Asset__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Used to retrieve Details from the Work Type of the current &quot;Reinstatement Step&quot; that is parsed in the formula field &quot;fx_Parse18DigitWorkTypeRecordId&quot;</description>
        <name>Get_WorkType_Details_for_ReinstatementStep</name>
        <label>Get Work Type Details for Reinstatement Step</label>
        <locationX>314</locationX>
        <locationY>1766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Service_Appointment_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fx_Parse18digitWorkTypeRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DurationType</queriedFields>
        <queriedFields>EstimatedDuration</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Shows the user options of possible Reinstatement work steps/jobs for a specific hard surface reinstatement work type (e.g. for Black Exposed Concrete, Hotmix etc.) to choose from. Depending on the users choice, this will either create Service Appointments under the Work Order triggering this flow or - e.g. in case of Traffic Management - create a separate child-workorder.</description>
        <name>Screen_CreateReinstatementJobs</name>
        <label>Create Reinstatement Jobs</label>
        <locationX>380</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Selected_Reinstatement_Job_Ids</targetReference>
        </connector>
        <fields>
            <name>Screen_CreateReinstatementJobs_Heading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Create Reinstatement Jobs&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_CreateReinstatementJobs_HardSurface_Heading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;What work do you need for {!Get_Current_Work_Order_Details.Subject}?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_CreateReinstatementJobs_Prerequisites_CheckboxGroup</name>
            <choiceReferences>var_Reinstatement_Prerequisites_Collection</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_Prepopulate_ReinstatementPrerequisites</elementReference>
            </defaultValue>
            <fieldText>Select required prerequisites</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_CreateReinstatementJobs_HardSurface_CheckboxGroup</name>
            <choiceReferences>var_ReinstatementWorkSteps_Collection</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_Prepopulate_ReinstatementSteps</elementReference>
            </defaultValue>
            <fieldText>Select all required reinstatement jobs</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_CreateReinstatementJobs_External_Heading</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;What external jobs are required?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_CreateReinstatementJobs_SteelPlates_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Current_Work_Order_Details.MSN_Steel_Plates_Required__c</elementReference>
            </defaultValue>
            <fieldText>Steel Plates</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_CreateReinstatementJobs_SteelPlates_Instructions</name>
            <fieldText>Steel Plate Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Please provide details about the requested steel plates (e.g. size and quantity)&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Screen_CreateReinstatementJobs_SteelPlates_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_CreateReinstatementJobs_CustomBox_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Current_Work_Order_Details.MSN_Reinstatement_BoxingRequired__c</elementReference>
            </defaultValue>
            <fieldText>Custom Box</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_CreateReinstatementJobs_CustomBox_Instructions</name>
            <fieldText>Custom Box Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Screen_CreateReinstatementJobs_CustomBox_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_CreateReinstatementJobs_TrafficControl_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Current_Work_Order_Details.MSN_TrafficControl_Required__c</elementReference>
            </defaultValue>
            <fieldText>Traffic Control</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_CreateReinstatementJobs_TrafficControl_StreetLevel</name>
            <choiceReferences>ch_TrafficControlLevel</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Current_Work_Order_Details.MSN_TrafficControl_Level__c</elementReference>
            </defaultValue>
            <fieldText>Street Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Screen_CreateReinstatementJobs_TrafficControl_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_CreateReinstatementJobs_TrafficControl_Instructions</name>
            <defaultValue>
                <stringValue>{!Get_Current_Work_Order_Details.MSN_TrafficControl_Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Traffic Control Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Screen_CreateReinstatementJobs_TrafficControl_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Work_Order_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Used to store the Record Id of the Work Order triggering this flow. Handed over automatically by Salesforce into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to prepopulate the Checkbox Group &quot;Select required prerequisites&quot;. Is populated within the Loop &quot;Prepopulate Prerequisites&quot; from the Record Collection Variable &quot;Get Reinstatement Prerequisites&quot;</description>
        <name>var_Prepopulate_ReinstatementPrerequisites</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to prepopulate the Checkbox Group &quot;Select REquired Reinstatement Jobs&quot;. Is populated within the Loop &quot;Prepopulate Reinstatement Steps&quot; from the Record Collection Variable &quot;Get Reinstatement Steps&quot;</description>
        <name>var_Prepopulate_ReinstatementSteps</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Save all selected values from the screen element &quot;Select all required reinstatement jobs&quot; in a comma separated string for later parsing/looping prior to creating Service Appointment Records.</description>
        <name>var_Selected_ReinstatementSteps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Used to store all Service Appointments that should be created from the users selection.</description>
        <name>var_ServiceAppointment_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>Used to store details for each single Service Appointment that should be created for each of the items the user selected on the screen.</description>
        <name>var_ServiceAppointment_SingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>Used for parsing/looping over selected Reinstatement Jobs. This will be incremented within the loop</description>
        <name>var_StartNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Used to store all Work Orders that should be created from the users selection.</description>
        <name>var_WorkOrder_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <description>Used to store details for each single Work Order that should be created for each of the items the user selected on the screen.</description>
        <name>var_WorkOrder_SingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>worktypes_multipicklist</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
