force-app/main/default/flows/MSN_Field_Service_Mobile_App_RAR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Notification_when_RAR_is_raised</name>
        <label>Notification when RAR is raised</label>
        <locationX>1370</locationX>
        <locationY>2270</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>RAR_Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F96D0000000KMTSA2</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_when_RAR_is_raised_0</name>
        <label>Notification when RAR is raised</label>
        <locationX>1634</locationX>
        <locationY>2270</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>RAR_Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F96D0000000KMYSA2</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_when_RAR_is_raised_0_0</name>
        <label>Notification when RAR is raised</label>
        <locationX>1898</locationX>
        <locationY>2270</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>RAR_Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F96D0000000JprSAE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_when_RAR_is_raised_0_0_0</name>
        <label>Notification when RAR is raised</label>
        <locationX>2162</locationX>
        <locationY>2270</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>RAR_Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F96D0000000KMdSAM</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_when_RAR_is_raised_0_0_0_0</name>
        <label>Notification when RAR is raised</label>
        <locationX>50</locationX>
        <locationY>2726</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Extra_Crew_Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F96D0000000KMTSA2</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_when_RAR_is_raised_0_0_0_0_0</name>
        <label>Notification when RAR is raised</label>
        <locationX>314</locationX>
        <locationY>2726</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Extra_Crew_Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F96D0000000KMYSA2</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_when_RAR_is_raised_0_0_0_0_0_0</name>
        <label>Notification when RAR is raised</label>
        <locationX>578</locationX>
        <locationY>2726</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Extra_Crew_Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F96D0000000JprSAE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_when_RAR_is_raised_0_0_0_0_0_0_0</name>
        <label>Notification when RAR is raised</label>
        <locationX>842</locationX>
        <locationY>2726</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Extra_Crew_Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F96D0000000KMdSAM</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Assign Mobile &quot;Id&quot; into Desktop &quot;recordId&quot;  variable. Note: after peer review, this element is not even required but will be kept for regression test purposes.</description>
        <name>Assign_Id_into_recordId</name>
        <label>Assign mobile &quot;Id&quot; to desktop &quot;RecordId&quot;</label>
        <locationX>2030</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ServiceAppointment_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Desktop &quot;recordId&quot; into Mobile &quot;Id&quot; variable</description>
        <name>Assign_recordId_into_Id</name>
        <label>Assign Desktop &quot;recordId&quot; into Mobile &quot;Id&quot; variable</label>
        <locationX>2294</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ServiceAppointment_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ServiceAppointment_field_values_MSNCrewRAR</name>
        <label>Assign Service Appointment field values</label>
        <locationX>578</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>var_Service_Appointment.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_WorkOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Service_Appointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkTypeRecords.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_WorkOrder.WorkTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Service_Appointment.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_ServiceAppointmentDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Service_Appointment.Inline_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fx_ServiceAppointmentDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Service_Appointment.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Service_Appointment.Is_it_a_RAR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Service_Appointment.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RAR - {!Screen_Please_select_crew_type} {!Screen_Please_select_crew_type_WW}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Service_Appointment.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Need extra crew for the job, requested for {!Screen_Please_select_crew_type} {!Screen_Please_select_crew_type_WW}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobNote.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RAR - {!Screen_Please_select_crew_type} {!Screen_Please_select_crew_type_WW}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobNote.MSN_JobNote_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Note</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobNote.MSN_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_WorkOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobNote.MSN_Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Service_Appointment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobNote.MSN_JobNote_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_Add_notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ServiceAppointment_Record_MSNCrewRAR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WorkOrder_field_values_WasteWater</name>
        <label>Assign WorkOrder field values</label>
        <locationX>1634</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>var_WorkOrder.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_WorkTypeChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobNote.MSN_JobNote_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_SelectResourceType_WasteWater_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Check_the_ResourceType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WorkOrder_field_values_Water</name>
        <label>Assign WorkOrder field values</label>
        <locationX>1370</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>var_WorkOrder.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_WorkTypeChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobNote.MSN_JobNote_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_SelectResourceType_Water_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Check_the_ResourceType</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_MSNCrew</name>
        <choiceText>Extra Crew</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MSN Crew</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Planned_Water_Crew</name>
        <choiceText>Planned Water Crew</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Planned Water Crew</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pumpstation_Ute</name>
        <choiceText>Pumpstation Ute</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pumpstation Ute</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wastewater_crew</name>
        <choiceText>Wastewater crew</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wastewater crew</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wastewater_Digup_Crew</name>
        <choiceText>Wastewater Digup Crew</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wastewater Digup Crew</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wastewater_Jetter_Truck</name>
        <choiceText>Wastewater Jetter Truck</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wastewater Jetter Truck</stringValue>
        </value>
    </choices>
    <choices>
        <name>Water_Reactive_Crew</name>
        <choiceText>Water Reactive Crew</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Water Reactive Crew</stringValue>
        </value>
    </choices>
    <choices>
        <name>Water_Reactive_Crew_Class_2_Large_Truck</name>
        <choiceText>Water Reactive Crew (Class 2 Large Truck)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Water Reactive Crew (Class 2 Large Truck)</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_Man_Entry</name>
        <choiceText>3 Man Entry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 Man Entry</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_service_area_and_type_of_work</name>
        <label>Check service area and type of work</label>
        <locationX>1898</locationX>
        <locationY>2150</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Planned_Water</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkTypeRecords.Service_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Water</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_WorkTypeRecords.MSN_TypeOfWork__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_when_RAR_is_raised</targetReference>
            </connector>
            <label>Planned Water</label>
        </rules>
        <rules>
            <name>Planned_Wastewater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkTypeRecords.Service_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wastewater</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_WorkTypeRecords.MSN_TypeOfWork__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_when_RAR_is_raised_0</targetReference>
            </connector>
            <label>Planned Wastewater</label>
        </rules>
        <rules>
            <name>Reactive_Water</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkTypeRecords.Service_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Water</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_WorkTypeRecords.MSN_TypeOfWork__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_when_RAR_is_raised_0_0</targetReference>
            </connector>
            <label>Reactive Water</label>
        </rules>
        <rules>
            <name>Reactive_Wastewater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkTypeRecords.Service_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wastewater</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_WorkTypeRecords.MSN_TypeOfWork__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_when_RAR_is_raised_0_0_0</targetReference>
            </connector>
            <label>Reactive Wastewater</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_service_area_and_type_of_work_0</name>
        <label>Check service area and type of work</label>
        <locationX>578</locationX>
        <locationY>2606</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Planned_Water_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkTypeRecords.Service_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Water</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_WorkTypeRecords.MSN_TypeOfWork__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_when_RAR_is_raised_0_0_0_0</targetReference>
            </connector>
            <label>Planned Water</label>
        </rules>
        <rules>
            <name>Planned_Wastewater_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkTypeRecords.Service_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wastewater</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_WorkTypeRecords.MSN_TypeOfWork__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_when_RAR_is_raised_0_0_0_0_0</targetReference>
            </connector>
            <label>Planned Wastewater</label>
        </rules>
        <rules>
            <name>Reactive_Water_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkTypeRecords.Service_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Water</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_WorkTypeRecords.MSN_TypeOfWork__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_when_RAR_is_raised_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Reactive Water</label>
        </rules>
        <rules>
            <name>Reactive_Wastewater_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkTypeRecords.Service_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wastewater</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_WorkTypeRecords.MSN_TypeOfWork__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_when_RAR_is_raised_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Reactive Wastewater</label>
        </rules>
    </decisions>
    <decisions>
        <description>This Decision is used to check whether the status of the Service Appointment equals &quot;On Site&quot; - the only status that allows the user to use the &quot;RAR&quot; feature. If not, then show an error message on screen.</description>
        <name>Decision_Check_ServiceAppointment_Status</name>
        <label>Check Service Appointment Status</label>
        <locationX>2294</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Screen_InvalidJobStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All other SA Status</defaultConnectorLabel>
        <rules>
            <name>Outcome_SA_Status_OnSite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Service_Appointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Worktype_Records</targetReference>
            </connector>
            <label>Service Appointment Status is &quot;On Site&quot;</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the resource type and create the service appointment or the work order based on the resource type. The resource type maps to the work type</description>
        <name>Decision_Check_the_ResourceType</name>
        <label>Check the Resource Type</label>
        <locationX>1634</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Screen_InvalidRAR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid RAR</defaultConnectorLabel>
        <rules>
            <name>Outcome_MSN_Crew_Resource_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Screen_SelectResourceType_Water_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MSNCrew</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Screen_SelectResourceType_WasteWater_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_MSNCrew</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Water_or_Wastewater_Job</targetReference>
            </connector>
            <label>Is MSN Crew Resource Type</label>
        </rules>
        <rules>
            <name>Outcome_SubContractor_Resource_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Screen_SelectResourceType_Water_Picklist</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>choice_MSNCrew</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Screen_SelectResourceType_WasteWater_Picklist</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>choice_MSNCrew</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Child_WorkOrder_Record_SubcontractorRAR</targetReference>
            </connector>
            <label>Is Subcontractor Resource Type</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision is used to determine the &quot;Service Area&quot; of the Work Order/Service Appointment that triggered this flow. This will then be used later in the flow to decide what type of RAR should be created.</description>
        <name>Decision_Check_WorkType_ServiceArea</name>
        <label>Check &quot;Service Area&quot; on Work Type</label>
        <locationX>1634</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Screen_Invalid_ServiceArea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Service Area Defined</defaultConnectorLabel>
        <rules>
            <name>Outcome_ServiceArea_Water</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkTypeRecords.Service_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Water</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_SelectResourceType_Water</targetReference>
            </connector>
            <label>Service Area is &quot;Water&quot;</label>
        </rules>
        <rules>
            <name>Outcome_ServiceArea_Wastewater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkTypeRecords.Service_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wastewater</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_SelectResourceType_Wastewater</targetReference>
            </connector>
            <label>Service Area is &quot;Wastewater&quot;</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision caters for the usecase, that a &quot;Update Status&quot; could also be requested from Salesforce Desktop (e.g. by a Job Coordinator) and not only from the Field Service Mobile App. It checks, whether the flow was opened from the Field Service Mobile App or from Desktop at the beginning of the flow. If the variable &quot;Id&quot; is filled it is opened from the Mobile App, if the variable &quot;recordId&quot; is filled, then it was opened from Desktop and then populates the &quot;Id&quot; variable to prevent failure in the next step</description>
        <name>Decision_OpenedFromMobileOrDesktop</name>
        <label>Opened from FSL Mobile App or Desktop?</label>
        <locationX>2294</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Screen_NoRecordId_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Record Id</defaultConnectorLabel>
        <rules>
            <name>Outcome_OpenedFromMobileApp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Id_into_recordId</targetReference>
            </connector>
            <label>Field Service Mobile App</label>
        </rules>
        <rules>
            <name>Outcome_OpenedFromDesktop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_recordId_into_Id</targetReference>
            </connector>
            <label>Desktop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Water_or_Wastewater_Job</name>
        <label>Water or Wastewater Job</label>
        <locationX>578</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Screen_select_extra_crew_options_wastewater</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Wastewater crew type</defaultConnectorLabel>
        <rules>
            <name>Water_crew_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkTypeRecords.Service_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Water</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Select_extra_crew_options_water</targetReference>
            </connector>
            <label>Water crew type</label>
        </rules>
    </decisions>
    <description>https://watercarestp.atlassian.net/browse/MSRS-232
V10- scheduling the appointment
V11- Adding inline due date for Work Order
V13- Trying to work out in mobile and desktop both
V14- Workaround to pass both id and record id
V17- removing the work around as it&apos;s not working
V18-adding the confirmation screen
V30- Updating the Available for RAR value

02/09/22 - V42/43:  Improve error screens, tidy up naming conventions for flow elements. See https://watercarestp.atlassian.net/browse/MSRS-1934 for details.
9/10/2022- V17: Adding chatter notification for RAR
1/02/2023- V28: Adding the crew type options for extra crew
7/02/2023- V34: Arranging the work type in ascending order</description>
    <dynamicChoiceSets>
        <name>choiceset_ResourceCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>WorkType</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceset_ServiceArea</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Area__c</picklistField>
        <picklistObject>WorkType</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkType_WasteWater</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sub_Contractor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wastewater</stringValue>
            </value>
        </filters>
        <filters>
            <field>Available_for_RAR__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>var_WorkTypeChoice</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_WorkType_AssetID</assignToReference>
            <field>MSN_Default_Asset__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_WorkTypeChoiceName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkTypesWater</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sub_Contractor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Water</stringValue>
            </value>
        </filters>
        <filters>
            <field>Available_for_RAR__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>var_WorkTypeChoice</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_WorkType_AssetID</assignToReference>
            <field>MSN_Default_Asset__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_WorkTypeChoiceName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fx_ServiceAppointmentDueDate</name>
        <dataType>DateTime</dataType>
        <expression>({!$Flow.CurrentDateTime} + 7)</expression>
    </formulas>
    <interviewLabel>MSN - Field Service Mobile App - RAR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MSN - Field Service Mobile App - RAR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Child_WorkOrder_Record_SubcontractorRAR</name>
        <label>Create Child Work Order Record</label>
        <locationX>1898</locationX>
        <locationY>1790</locationY>
        <assignRecordIdToReference>ChildWOID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Job_Note_SubContractorRAR</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>var_WorkType_AssetID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>var_WorkOrder.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>var_WorkOrder.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Request for additional resource {!var_WorkTypeChoiceName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_it_a_RAR__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentWorkOrderId</field>
            <value>
                <elementReference>var_WorkOrder.RootWorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>var_WorkOrder.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>var_WorkOrder.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>var_WorkOrder.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>var_WorkOrder.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Requested for additional resource {!var_WorkTypeChoiceName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>var_WorkTypeChoice</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Job_Note_MSNCrewRAR</name>
        <label>Create Job Note</label>
        <locationX>578</locationX>
        <locationY>2366</locationY>
        <connector>
            <targetReference>Screen_MSNCrewRAR_Confirmation_Message</targetReference>
        </connector>
        <inputReference>var_JobNote</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Job_Note_SubContractorRAR</name>
        <label>Create Job Note</label>
        <locationX>1898</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Screen_SubcontractorRAR_Confirmation_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>MSN_JobNote_Type__c</field>
            <value>
                <stringValue>Note</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MSN_Service_Appointment__c</field>
            <value>
                <elementReference>var_Service_Appointment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MSN_Work_Order__c</field>
            <value>
                <elementReference>ChildWOID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <stringValue>Requested for additional resource {!var_WorkTypeChoiceName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>ChildWOID</elementReference>
            </value>
        </inputAssignments>
        <object>MSN_JobNotes__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_ServiceAppointment_Record_MSNCrewRAR</name>
        <label>Create Service Appointment</label>
        <locationX>578</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Create_Job_Note_MSNCrewRAR</targetReference>
        </connector>
        <inputReference>var_Service_Appointment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Job_Notes</name>
        <label>Get Job Notes</label>
        <locationX>2294</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Check_ServiceAppointment_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobnoteId</elementReference>
            </value>
        </filters>
        <object>MSN_JobNotes__c</object>
        <outputReference>var_JobNote</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MSN_JobNote_Details__c</queriedFields>
        <queriedFields>MSN_JobNote_Type__c</queriedFields>
        <queriedFields>Subject__c</queriedFields>
        <queriedFields>MSN_Work_Order__c</queriedFields>
        <queriedFields>MSN_Service_Appointment__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ServiceAppointment_Record</name>
        <label>Get ServiceAppointment Record</label>
        <locationX>2294</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkOrder_Records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>var_Service_Appointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Address</queriedFields>
        <queriedFields>Is_it_a_RAR__c</queriedFields>
        <queriedFields>Asset__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkOrder_Records</name>
        <label>Get WorkOrder Records</label>
        <locationX>2294</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Job_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Service_Appointment.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>ParentWorkOrderId</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>Is_it_a_RAR__c</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>RootWorkOrderId</queriedFields>
        <queriedFields>MSN_Is_RootWorkOrder__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Worktype_Records</name>
        <label>Get Worktype Records</label>
        <locationX>1634</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Check_WorkType_ServiceArea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrder.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>var_WorkTypeRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Available_for_RAR__c</queriedFields>
        <queriedFields>Service_Area__c</queriedFields>
        <queriedFields>MSN_Crew__c</queriedFields>
        <queriedFields>Sub_Contractor__c</queriedFields>
        <queriedFields>MSN_TypeOfWork__c</queriedFields>
        <queriedFields>MSN_Default_Asset__c</queriedFields>
    </recordLookups>
    <screens>
        <description>Shows an Error Message to the user in case no &quot;Service Area&quot; has been defined on the corresponding field on the Work Type that is related to the Service Appointment Triggering this flow.</description>
        <name>Screen_Invalid_ServiceArea</name>
        <label>Invalid Service Area</label>
        <locationX>1898</locationX>
        <locationY>1334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_Invalid_ServiceArea_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Error - Service Area missing on Work Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;It looks like there is no Service Area defined for the type of work you selected for RAR.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please get in touch with your friendly Salesforce Support team and make them aware of this error.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows an Error Message to the user in case the status of the current Service Appointment is not in the correct status to request a RAR (e.g. None, Scheduled, Completed).</description>
        <name>Screen_InvalidJobStatus</name>
        <label>Invalid Job Status</label>
        <locationX>2954</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_InvalidJobStatus_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Error - Invalid Job Status&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;It looks like your Job is not in the right status to request a RAR.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It might not be &quot;On-site&quot; yet or is already completed.&amp;nbsp;Please use the Update job status functionality first and then try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows an Error Message to the user in case the flow could not determine whether to create a Service Appointment or a Work Order for the RAR request. This is a hypothetical error that might not actually happen.</description>
        <name>Screen_InvalidRAR</name>
        <label>Invalid RAR</label>
        <locationX>2690</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_InvalidRAR_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Error - Invalid RAR&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Sorry - it looks like we couldnt determine what type of RAR to create for your selection.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please get in touch with your friendly Salesforce Support team and make them aware of this error.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_MSNCrewRAR_Confirmation_Message</name>
        <label>Confirmation Message</label>
        <locationX>578</locationX>
        <locationY>2486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_service_area_and_type_of_work_0</targetReference>
        </connector>
        <fields>
            <name>Screen_MSNCrewRAR_Success_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Success!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;We have informed the job coordinator that you need  &lt;strong&gt;&quot;{!Screen_Please_select_crew_type}&quot; &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows an Error Message to the user in case no Record ID is populated in either the &quot;ID&quot; variable or &quot;recordID&quot; variable.</description>
        <name>Screen_NoRecordId_Error</name>
        <label>No Record Id</label>
        <locationX>2558</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_NoRecordId_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Error - No Service Appointment Record Id&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;It looks like there was no Record ID for the Service Appointment prepopulated when opening this feature.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please get in touch with your friendly Salesforce Support team and make them aware of this error.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_select_extra_crew_options_wastewater</name>
        <label>Select extra crew options for wastewater</label>
        <locationX>710</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_ServiceAppointment_field_values_MSNCrewRAR</targetReference>
        </connector>
        <fields>
            <name>Screen_Crew_type_wastewater</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Select Required Crew Type&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Please_select_crew_type_WW</name>
            <choiceReferences>Pumpstation_Ute</choiceReferences>
            <choiceReferences>Wastewater_crew</choiceReferences>
            <choiceReferences>Wastewater_Digup_Crew</choiceReferences>
            <choiceReferences>Wastewater_Jetter_Truck</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select crew type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Screen_Add_notes</name>
            <defaultValue>
                <stringValue>{!Screen_SelectResourceType_Water_Comments}</stringValue>
            </defaultValue>
            <fieldText>Please add comments for the requested resource type</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_extra_crew_options_water</name>
        <label>Select extra crew options for water</label>
        <locationX>446</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_ServiceAppointment_field_values_MSNCrewRAR</targetReference>
        </connector>
        <fields>
            <name>Screen_Crew_type_Water</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Select Required Crew Type&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Please_select_crew_type</name>
            <choiceReferences>Planned_Water_Crew</choiceReferences>
            <choiceReferences>Water_Reactive_Crew</choiceReferences>
            <choiceReferences>Water_Reactive_Crew_Class_2_Large_Truck</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select crew type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_Add_notes</name>
            <defaultValue>
                <stringValue>{!Screen_SelectResourceType_Water_Comments}</stringValue>
            </defaultValue>
            <fieldText>Please add comments for the requested resource type</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_SelectResourceType_Wastewater</name>
        <label>Select Resource Type</label>
        <locationX>1634</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_WorkOrder_field_values_WasteWater</targetReference>
        </connector>
        <fields>
            <name>Screen_SelectResourceType_WasteWater_Heading</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Select Required Resource Type&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_SelectResourceType_WasteWater_Picklist</name>
            <choiceReferences>choice_MSNCrew</choiceReferences>
            <choiceReferences>WorkType_WasteWater</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_MSNCrew</defaultSelectedChoiceReference>
            <fieldText>Select Required Resource Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_SelectResourceType_WasteWater_Comments</name>
            <fieldText>Please add comments for the requested resource type</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_SelectResourceType_Water</name>
        <label>Select Resource Type</label>
        <locationX>1370</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_WorkOrder_field_values_Water</targetReference>
        </connector>
        <fields>
            <name>Screen_SelectResourceType_Water_Heading</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Select Required Resource Type&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_SelectResourceType_Water_Picklist</name>
            <choiceReferences>choice_MSNCrew</choiceReferences>
            <choiceReferences>WorkTypesWater</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_MSNCrew</defaultSelectedChoiceReference>
            <fieldText>Select Required Resource Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_SelectResourceType_Water_Comments</name>
            <fieldText>Please add comments for the requested resource type</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_SubcontractorRAR_Confirmation_Message</name>
        <label>Confirmation Message</label>
        <locationX>1898</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_service_area_and_type_of_work</targetReference>
        </connector>
        <fields>
            <name>Screen_SubcontractorRAR_SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Success!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;We have informed the job coordinator that you need {!var_WorkTypeChoiceName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2168</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_OpenedFromMobileOrDesktop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Extra_Crew_Notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A RAR has been raised, you can find the details on the work order- {!var_WorkOrder.WorkOrderNumber}
Field crew has requested for Extra Crew.</text>
    </textTemplates>
    <textTemplates>
        <name>RAR_Notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A RAR has been raised, you can find the details on the work order- {!var_WorkOrder.WorkOrderNumber}
Field crew has requested for {!var_WorkTypeChoiceName}</text>
    </textTemplates>
    <variables>
        <name>ChildWOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChildWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>ChildWorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Service appointment Id</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_JobNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MSN_JobNotes__c</objectType>
    </variables>
    <variables>
        <name>var_JobnoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This Record Variable stores the full Service Appointment record including all fields retrieved from the lookup &quot;Get Service Appointment Details&quot;.</description>
        <name>var_Service_Appointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_WorkType_AssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_WorkTypeChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_WorkTypeChoiceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_WorkTypePicklist</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_WorkTypeRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkType</objectType>
    </variables>
</Flow>
