force-app/main/default/flows/MSN_ServiceAppointment_Assign_to_Subcontractor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Check whether the current Service Territory has a flag &quot;Subcontractor Territory&quot; = true. Only if so, continue with further checks if any Work Order Share records have been created previously.</description>
        <name>Decision_IsSubcontractorServiceTerritory</name>
        <label>Is Current Service Territory a Subcontractor Territory?</label>
        <locationX>501</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Decision_Share_Grandparent_Workorder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Outcome_IsSubcontractorServiceTerritory_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Current_ServiceTerritory_Is_Subcontractor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Public_Group_of_Current_Service_Territory</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Public_Group_for_Current_ServiceTerritory_exists</name>
        <label>Public Group for Current Territory exists?</label>
        <locationX>336</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>Decision_Share_Grandparent_Workorder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Outcome_PublicGroup_Current_ServiceTerritory_Exists_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Current_ServiceTerritory_PublicGroup_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order_Share_Record_for_Current_Public_Group</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>If a Grandparent Work Order Id has been looked up with the Get-element successfully, then check if the Record has previously been shared with any subcontractor - if so, revoke access.</description>
        <name>Decision_SA_Has_Grandparent_Workorder</name>
        <label>Service Appointment has Grandparent Workorder?</label>
        <locationX>688</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Screen_Success_NoSharing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Outcome_SAHasGrandParentWO_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_GrandparentWorkOrder_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Service_Territory_Details</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>If a Grandparent Work Order Id has been looked up with the Get-element successfully, and the user has selected &quot;grant read access to the grandparent work order&quot; in the on-screen dialogue, then create a work order share record in the subsequent path.</description>
        <name>Decision_Share_Grandparent_Workorder</name>
        <label>Share Grandparent Workorder?</label>
        <locationX>501</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Screen_Success_NoSharing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Outcome_ShareGrandParentWO_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_GrandparentWorkOrder_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Screen_Assign_SA_to_Subcontractor_ShareGrandParent_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Public_Group_of_selected_Service_Territory</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Public Group record was successfully looked up in the previous get element, then proceed to create a &quot;Work Order Share&quot; record, otherwise show an error message/dialogue.</description>
        <name>Public_Group_Found</name>
        <label>Public Group Found?</label>
        <locationX>303</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Screen_Error_No_PublicGroup_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Outcome_PublicGroupFound_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_New_ServiceTerritory_PublicGroup_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Order_Share_Record</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Work Order Share Record looked up in the previous element exists, then delete the record.</description>
        <name>Work_Order_Share_Record_Exists</name>
        <label>Work Order Share Record Exists?</label>
        <locationX>182</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>Decision_Share_Grandparent_Workorder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Outcome_WorkOrderShareRecordExists_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Current_PublicGroup_WorkOrderShare_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Work_Order_Share_for_Current_Service_Territory_Public_Group</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>09/03/2022 - V1: Initial version created from Requirements in Jira https://watercarestp.atlassian.net/browse/MSRS-309

02/05/2022 - V2: Extended the flow to also update the Service Territory on the Parent Work Order of the Service Appointment triggering this flow as requested in https://watercarestp.atlassian.net/browse/MSRS-226. Added a Get element &quot;Get Service Appointment Parent Work Order&quot; and the update element &quot;Update Service Territory on Parent Work Order&quot;.

09/05/2022 - V3: Extended Flow functionality to grant access to a (Grand-)parent Work Order that is related to the Service appointment/work order triggering the flow. See details in https://watercarestp.atlassian.net/browse/MSRS-991</description>
    <dynamicChoiceSets>
        <description>Used to query all active Service Territories, that have the Flag &quot;Subcontractor Service Territory&quot; set to &quot;true&quot; - in order to present the query result back to the user as a (dynamic) picklist.</description>
        <name>RecordChoiceSet_Get_Subcontractor_ServiceTerritories</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MSN_Subcontractor_ServiceTerritory__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>var_New_ServiceTerritory_Record.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_New_ServiceTerritory_Record.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>MSN - Service Appointment - Assign SA to Subcontractor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MSN - Service Appointment - Assign to Subcontractor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a &quot;Work Order Share&quot; record that grants access to the Grandparent Work Order looked up earlier in this flow (and if the user chose &quot;yes, grant read access to grandparent work order&quot; in the screen element).</description>
        <name>Create_Work_Order_Share_Record</name>
        <label>Create Work Order Share Record</label>
        <locationX>171</locationX>
        <locationY>2366</locationY>
        <connector>
            <targetReference>Screen_Success_With_Record_Sharing</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>var_GrandparentWorkOrder_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>var_New_ServiceTerritory_PublicGroup_Name</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Work_Order_Share_for_Current_Service_Territory_Public_Group</name>
        <label>Delete Work Order Share for Current Service Territory Public Group</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Decision_Share_Grandparent_Workorder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Current_PublicGroup_WorkOrderShare_Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderShare</object>
    </recordDeletes>
    <recordLookups>
        <description>Retrieve the name and subcontractor status of the previously assigned Service Territory. This is used in the subsequent get element to attempt to lookup a Public Group of the same name.</description>
        <name>Get_Current_Service_Territory_Details</name>
        <label>Get Current Service Territory Details</label>
        <locationX>501</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_IsSubcontractorServiceTerritory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Current_ServiceTerritory_Id</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>var_Current_ServiceTerritory_Is_Subcontractor</assignToReference>
            <field>MSN_Subcontractor_ServiceTerritory__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Current_ServiceTerritory_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the ParentWorkOrderId from the Parent Work Order related to this Service Appointment in order to determine, if there is also a Grandparent Work Order existent. If so, then this will be shared with the selected Subcontractor Territory later in the process as well.</description>
        <name>Get_Grandparent_Work_Order_Id</name>
        <label>Get Grandparent Work Order Id</label>
        <locationX>688</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Assign_SA_to_Subcontractor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ParentWorkOrder_Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>var_GrandparentWorkOrder_Id</assignToReference>
            <field>ParentWorkOrderId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Attempt to retrieve the name of the &quot;Public Group&quot; that has the same name as the previous Service Territory assigned before the user chose a new one.  If found, then attempt to find a Work Order Share record for the Granparent Record and if also found, delete it in order to revoke record access.</description>
        <name>Get_Public_Group_of_Current_Service_Territory</name>
        <label>Get Public Group of Current Service Territory</label>
        <locationX>336</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Public_Group_for_Current_ServiceTerritory_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Current_ServiceTerritory_Name</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>var_Current_ServiceTerritory_PublicGroup_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Attempt to retrieve the name of the &quot;Public Group&quot; that has the same name as the selected Service Territory the user chose on the previous screenelement. If found, then this is used to share record access to the Granparent Work Order in the subsequent create element. Please note: Field Service Lightning automatically Creates Public groups for each Service Territory created. Any users that have dispatching rights in that Service Territory (using &quot;User Territories&quot;) will be a member of that public group and hence get access to the record.</description>
        <name>Get_Public_Group_of_selected_Service_Territory</name>
        <label>Get Public Group of selected Service Territory</label>
        <locationX>303</locationX>
        <locationY>2126</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Public_Group_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_New_ServiceTerritory_Record.Name</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>var_New_ServiceTerritory_PublicGroup_Name</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the ID of the Service Appointments parent Work Order triggering this flow. This will then later be used to also update the Work Orders Service Territory.</description>
        <name>Get_Service_Appointment_ParentWO</name>
        <label>Get Service Appointment Parent Work Order</label>
        <locationX>688</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Grandparent_Work_Order_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>var_ParentWorkOrder_Id</assignToReference>
            <field>ParentRecordId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Current_ServiceTerritory_Id</assignToReference>
            <field>ServiceTerritoryId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Attempt to lookup an existing custom share record for the Grand Parent Record that has been shared with the current Service Territory.</description>
        <name>Get_Work_Order_Share_Record_for_Current_Public_Group</name>
        <label>Get Work Order Share Record for Current Public Group</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Order_Share_Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_GrandparentWorkOrder_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Current_ServiceTerritory_PublicGroup_Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderShare</object>
        <outputAssignments>
            <assignToReference>var_Current_PublicGroup_WorkOrderShare_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Used to update the &quot;Service Territory&quot; selected by the user in the previous screen also on the Service Appointments Parent Work Order. This was explicitely requested in https://watercarestp.atlassian.net/browse/MSRS-226 in order to ensure, that a Work Order/Service Appointment once given out to a Subcontractor stays with that Subcontractor also when the Subcontractor field crew selects &quot;Cannot Complete&quot;.</description>
        <name>Update_Service_Territory_on_Parent_Work_Order</name>
        <label>Update Service Territory on Parent Work Order</label>
        <locationX>688</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Decision_SA_Has_Grandparent_Workorder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ParentWorkOrder_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Screen_Assign_SA_to_Subcontractor_RadioButtonChoices</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <description>Used to update the &quot;Service Territory&quot; field on the Service Appointment that opened this flow to the Service Territory Id selected by the user in the previous screen.</description>
        <name>Update_Service_Territory_on_Service_Appointment</name>
        <label>Update Service Territory on Service Appointment</label>
        <locationX>688</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Update_Service_Territory_on_Parent_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Screen_Assign_SA_to_Subcontractor_RadioButtonChoices</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <description>Presents the user with a dynamic picklist of all Subcontractor Service Territories which can be used to assign the Service Appointment to.</description>
        <name>Screen_Assign_SA_to_Subcontractor</name>
        <label>Assign Service Appointment to Subcontractor</label>
        <locationX>688</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Service_Territory_on_Service_Appointment</targetReference>
        </connector>
        <fields>
            <name>Screen_Assign_SA_to_Subcontractor_ServiceTerritory_Heading</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Which Subcontractor do you want to assign to this job?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Assign_SA_to_Subcontractor_RadioButtonChoices</name>
            <choiceReferences>RecordChoiceSet_Get_Subcontractor_ServiceTerritories</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select a Subcontractor Territory</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_Assign_SA_to_Subcontractor_ShareGrandParent_Heading</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Allow read access to the parent Work Order?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_GrandparentWorkOrder_Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_Assign_SA_to_Subcontractor_ShareGrandParent_Hint</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This service appointment and its related work order seem to be a child of a parent Work Order. Do you also want to give the subcontractor read access to the parent record so that they e.g. can see notes, photos, and other details?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_GrandparentWorkOrder_Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_Assign_SA_to_Subcontractor_ShareGrandParent_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Yes, please grant read access to the parent Work Order</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_GrandparentWorkOrder_Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Assign to subcontractor</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows an Error Screen, when no public group was found to inform the user that sharing of the Grandparent Record Failed.</description>
        <name>Screen_Error_No_PublicGroup_Found</name>
        <label>Error - No Public Group Found</label>
        <locationX>435</locationX>
        <locationY>2366</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_Error_No_PublicGroup_Found_ErrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Awww, snap! Could not grant access to the Parent Work Order.  &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 255); font-size: 16px;&quot;&gt;We could not find a Public Group named &quot;{!Screen_Assign_SA_to_Subcontractor_RadioButtonChoices}&quot; to grant read access to the Parent Work Order.  &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;The Service Territory of the subcontractor has been updated successfully, however, you will need to share record access to the parent Work Order manually. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Please navigate to the Work Order of this Service Appointment, then open the (Grand-)Parent Work Order from the field &quot;Parent Work Order&quot; in the &quot;Details&quot; tab. Then use the button &quot;Share&quot; in the top right quick action bar to share access with the users you require. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;You can close this dialogue now. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://d259t2jj6zp7qm.cloudfront.net/images/v1526924372-trailhead_project_quick_start_lightning_process_builder_icizwb.png&quot; alt=&quot;The Making of the Robotics Ridge at TrailheaDX | Salesforce Developers Blog&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows a success message when the user has not chosen to Share record access to the Parent Work Order or no Parent Work Order exists.</description>
        <name>Screen_Success_NoSharing</name>
        <label>Screen Success</label>
        <locationX>688</locationX>
        <locationY>3014</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_Success_Text_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 36px;&quot;&gt;Success! &lt;/strong&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;We updated the Service Territory to the subcontractor &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!Screen_Assign_SA_to_Subcontractor_RadioButtonChoices}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt; successfully! &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;S&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;hould the subcontractor dispatch jobs by themselves, their job coordinator and field crew now have access to the Service Appointment and Work Order&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://watercareserviceslimitednz--dev--c.documentforce.com/sfc/servlet.shepherd/version/download/0680p000000xBlH?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;MSN_Salesforce_Success.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows a success message when the user has chosen to Share record access to the Parent Work Order.</description>
        <name>Screen_Success_With_Record_Sharing</name>
        <label>Screen Success - With Record Sharing</label>
        <locationX>171</locationX>
        <locationY>2486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_Success_With_Record_Sharing_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 36px;&quot;&gt;Success! &lt;/strong&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;We &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;successfully &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;updated the Service Territory to the subcontractor &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;&quot;{!Screen_Assign_SA_to_Subcontractor_RadioButtonChoices}&quot;&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;﻿S&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;hould the subcontractor dispatch jobs by themselves, their job coordinator and field crew now have access to the Service Appointment, the Work Order, and the Parent Work Order as well&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://watercareserviceslimitednz--dev--c.documentforce.com/sfc/servlet.shepherd/version/download/0680p000000xBlH?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;MSN_Salesforce_Success.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointment_ParentWO</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Holds the Record Id of the record this flow was opened from. The Id is handed over automatically when the flow opens from Salesforce.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Id of any preexisting Work Order Share REcords that have been created for the current Service Territory before the user chose a new one.</description>
        <name>var_Current_PublicGroup_WorkOrderShare_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the currently assigned Service Territory. This will be used in the flow to check, whether the ID is a &quot;subcontractor&quot; Service Territory and revoke access to the Grandparent Work Order Record</description>
        <name>var_Current_ServiceTerritory_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the information, whether the current Subcontractor Territory is a &quot;Subcontractor&quot; territory.</description>
        <name>var_Current_ServiceTerritory_Is_Subcontractor</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Name of the looked up current Service Territory, before the user selected a new Subcontractor Territory in the Screen Element</description>
        <name>var_Current_ServiceTerritory_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to look up the Public Group of the previous Service Territory assigned before the user made a change.</description>
        <name>var_Current_ServiceTerritory_PublicGroup_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>If existent, this variable is used to stores the ID of the Grandparent Work Order related to the Work Order parented to this Service Appointment. This is the used later in the flow to share access rights to the grandparent WO with the selected Subcontractor Service Territory</description>
        <name>var_GrandparentWorkOrder_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Name of the new &quot;Public Group&quot; looked up in the get element. If found, this is then used to create a &quot;Work Order Share&quot; record that gives access to the record to all members of the Public Group.</description>
        <name>var_New_ServiceTerritory_PublicGroup_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to store additional information about the new Service Territory chosen by the user on the Screen &quot;Assign Service Appointment to Subcontractor&quot;</description>
        <name>var_New_ServiceTerritory_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <description>Stores the ID of the Parent Work Order related to the Service Appointment triggering this flow.</description>
        <name>var_ParentWorkOrder_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
