force-app/main/default/flows/MSN_ProductsConsumed_RecordTriggered_BeforeSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>check if product consumed is part not labour</description>
        <name>Is_Part</name>
        <label>Is Part</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Uncheck_Not_Sufficient_EAM_Stock</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Is_Part_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProductItemId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Is_Quantity_Consumed_Greater_Than_EAM_Stock</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Quantity_Consumed_Changed</name>
        <label>Is Quantity Consumed Changed</label>
        <locationX>501</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.QuantityConsumed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.QuantityConsumed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Part</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Quantity_Consumed_Greater_Than_EAM_Stock</name>
        <label>Is Quantity Consumed Greater Than EAM Stock</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Uncheck_Not_Sufficient_EAM_Stock</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Is_Quantity_Consumed_Greater_Than_EAM_Stock_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.QuantityConsumed</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.ProductItem.EAM_Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Not_Sufficient_EAM_Stock</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>07/11/2022 - V1:  Initial version as of requirements in  https://watercarestp.atlassian.net/browse/MSRS-2065. Caters for the requirement &quot;Not sufficient EAM stock (Formula Checkbox): IF EAM Quantity is less than the Quantity Consumed&quot; and is required as the original formula field could not trigger other required logic, hence moved into a flow.</description>
    <environments>Default</environments>
    <interviewLabel>MSN - Products Consumed - Before Save - Record Triggered Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MSN - Products Consumed - Before Save - Record Triggered Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Check_Not_Sufficient_EAM_Stock</name>
        <label>Check Not Sufficient EAM Stock</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Not_Sufficient_EAM_Stock__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Uncheck_Not_Sufficient_EAM_Stock</name>
        <label>Uncheck Not Sufficient EAM Stock</label>
        <locationX>336</locationX>
        <locationY>1103</locationY>
        <inputAssignments>
            <field>Not_Sufficient_EAM_Stock__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Quantity_Consumed_Changed</targetReference>
        </connector>
        <object>ProductConsumed</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
