force-app/main/default/flows/MSN_Work_Step_BeforeSave_Record_Triggered_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Entry Criteria to check whether a &quot;Date Answer&quot; has been set on the work step record</description>
        <name>Decision_DateAnswer</name>
        <label>Date Answer Set?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Decision_DateTimeAnswer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>outcome_Date_Answer_Set_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MSN_WS_Date_Answer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MSN_WS_Date_Answer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work_Step_Date_Answer</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Entry Criteria to check whether a &quot;Date/Time Answer&quot; has been set on the work step record</description>
        <name>Decision_DateTimeAnswer</name>
        <label>Date/Time Answer Set?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>outcome_DateTime_Answer_Set_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MSN_WS_DateTime_Answer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MSN_WS_DateTime_Answer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Time_Work_Step_Answer</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>20/06/2022 - Initial Version built as of requirements from https://watercarestp.atlassian.net/browse/MSRS-1366

21/06/2022 - Added the &quot;Date/Time&quot; reformat Formula, Decision Element and update elements in order to cater for &quot;DateTime&quot; answers in addition to &quot;Date&quot; answers.</description>
    <environments>Default</environments>
    <formulas>
        <description>Used to reformat the &quot;Date Answer&quot; field that is saved from the mobile app into a format that is required from EAM  (e.g. instead 2022/06/18  &gt;&gt; 18/06/2022)</description>
        <name>fx_WorkStepDateReformat</name>
        <dataType>String</dataType>
        <expression>IF(LEN(TEXT(DAY({!$Record.MSN_WS_Date_Answer__c})))&lt;2,&quot;0&quot;,&quot;&quot;)&amp;TEXT(DAY({!$Record.MSN_WS_Date_Answer__c}))
&amp;&quot;/&quot;&amp;
IF(LEN(TEXT(MONTH({!$Record.MSN_WS_Date_Answer__c})))&lt;2,&quot;0&quot;,&quot;&quot;)&amp;TEXT(MONTH({!$Record.MSN_WS_Date_Answer__c}))
&amp;&quot;/&quot;&amp;
TEXT(YEAR({!$Record.MSN_WS_Date_Answer__c}))</expression>
    </formulas>
    <formulas>
        <description>Used to reformat the &quot;Date Time Answer&quot; field that is saved from the mobile app into a format that is required from EAM (e.g. instead 2022/06/18 10:00 AM&gt;&gt; 10:00)</description>
        <name>fx_WorkStepDateTimeReformat</name>
        <dataType>String</dataType>
        <expression>LEFT (RIGHT (TEXT ( {!$Record.MSN_WS_DateTime_Answer__c} - (12/24) ), 9), 5)</expression>
    </formulas>
    <interviewLabel>MSN - Work Step - Record Triggered Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MSN - Work Step - Before Save - Record Triggered Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Date_Time_Work_Step_Answer</name>
        <label>Update Date/Time Work Step Answer</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>MSN_WorkStep_Answer__c</field>
            <value>
                <elementReference>fx_WorkStepDateTimeReformat</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Step_Date_Answer</name>
        <label>Update Work Step Date Answer</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Decision_DateTimeAnswer</targetReference>
        </connector>
        <inputAssignments>
            <field>MSN_WorkStep_Answer__c</field>
            <value>
                <elementReference>fx_WorkStepDateReformat</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_DateAnswer</targetReference>
        </connector>
        <object>WorkStep</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Used to store the new calculated Date value from the formula &quot;fx_WorkStepDateReformat&quot; prior to assigning/updating it to the Work Step Record Triggering this Flow.</description>
        <name>var_DateFormatVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>fx_WorkStepDateReformat</elementReference>
        </value>
    </variables>
</Flow>
