force-app/main/default/flows/MSN_Uncheck_Part_Consumed_Insufficient_EAM_Inventory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Decision_EAM_Quantity_Changed</name>
        <label>EAM Quantity changed?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Outcome_EAM_Quantity_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.EAM_Quantity__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.EAM_Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EAM_Quantity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Not_Sufficient_EAM_Stock_cb_c</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Uncheck Part Consumed &quot;Not Sufficient EAM Inventory&quot;</description>
    <environments>Default</environments>
    <interviewLabel>MSN - Uncheck Part Consumed Insufficient EAM Inventory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MSN - Uncheck Part Consumed Insufficient EAM Inventory</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Uncheck &quot;Not_Sufficient_EAM_Stock_cb__c&quot;</description>
        <name>Uncheck_Not_Sufficient_EAM_Stock_cb_c</name>
        <label>Uncheck &quot;Not_Sufficient_EAM_Stock_cb__c&quot;</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuantityConsumed</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record__Prior.EAM_Quantity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuantityConsumed</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.EAM_Quantity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Not_Sufficient_EAM_Stock__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ProductConsumed</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_EAM_Quantity_Changed</targetReference>
        </connector>
        <object>ProductItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
</Flow>
