force-app/main/default/flows/MSN_Field_Service_Mobile_App_Confined_Space_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_confined_space_entry_values</name>
        <label>Assign confined space entry values</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Name_of_crew_entering_confined_space__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_crew_who_s_entering_confined_space</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Name_of_crew_watching__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_crew_watching</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Name_of_crew_on_standby__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_crew_on_standby</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Phone_number_of_crew_on_standby__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Number_of_crew_on_standby</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Expected_time_out_of_confined_space__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_time_out_of_confined_space</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Crew_out_of_confined_space__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crew_out_of_confined_space</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Confined_space_entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Expected_time_going_in_confined_space__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_time_crew_is_going_in_the_confined_space_entry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_SA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validation_for_the_dates</name>
        <label>Validation for the dates</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Assign_confined_space_entry_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expected_time_in_and_time_out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expected_time_crew_is_going_in_the_confined_space_entry</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Expected_time_out_of_confined_space</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_date_and_time_the_crew_is_going_in</targetReference>
            </connector>
            <label>Expected time in and time out</label>
        </rules>
    </decisions>
    <description>V4- adding confined space entry checkbox to confirm the record is related to the confined space entry
V6: adding chatter notification
V10: Removing chatter notification as it is added in the confined space entry record trigger flow</description>
    <environments>Default</environments>
    <interviewLabel>MSN - Field Service Mobile App - Confined Space Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MSN - Field Service Mobile App - Confined Space Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_SA_Details</name>
        <label>Get SA Details</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confined_Space_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>MSN_Incompletion_Reason__c</queriedFields>
        <queriedFields>Name_of_crew_entering_confined_space__c</queriedFields>
        <queriedFields>Name_of_crew_on_standby__c</queriedFields>
        <queriedFields>Name_of_crew_watching__c</queriedFields>
        <queriedFields>Phone_number_of_crew_on_standby__c</queriedFields>
        <queriedFields>Expected_time_out_of_confined_space__c</queriedFields>
        <queriedFields>Crew_out_of_confined_space__c</queriedFields>
        <queriedFields>Expected_time_going_in_confined_space__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_SA</name>
        <label>Update the SA</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <inputReference>ServiceAppointment</inputReference>
    </recordUpdates>
    <screens>
        <name>Check_the_date_and_time_the_crew_is_going_in</name>
        <label>Check the date and time the crew is going in</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Check_the_date_and_time_fields</name>
            <fieldText>&lt;p&gt;Please check the expected date and time crew is going in the confined space and the expected time crew is coming out of the confined space.&lt;/p&gt;&lt;p&gt;The expected time crew going in the confined space cannot be after the expected time crew is coming out of the confined space.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confined_Space_Entry</name>
        <label>Confined Space Entry</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validation_for_the_dates</targetReference>
        </connector>
        <fields>
            <name>Name_of_crew_who_s_entering_confined_space</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ServiceAppointment.Name_of_crew_entering_confined_space__c</elementReference>
            </defaultValue>
            <fieldText>Name of crew who&apos;s entering confined space</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Name_of_crew_watching</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ServiceAppointment.Name_of_crew_watching__c</elementReference>
            </defaultValue>
            <fieldText>Name of crew watching</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Name_of_crew_on_standby</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ServiceAppointment.Name_of_crew_on_standby__c</elementReference>
            </defaultValue>
            <fieldText>Name of crew on standby</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone_Number_of_crew_on_standby</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ServiceAppointment.Phone_number_of_crew_on_standby__c</elementReference>
            </defaultValue>
            <fieldText>Phone Number of crew on standby</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expected_time_crew_is_going_in_the_confined_space_entry</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>ServiceAppointment.Expected_time_going_in_confined_space__c</elementReference>
            </defaultValue>
            <fieldText>Expected time crew is going in the confined space entry</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expected_time_out_of_confined_space</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>ServiceAppointment.Expected_time_out_of_confined_space__c</elementReference>
            </defaultValue>
            <fieldText>Expected time out of confined space</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Attach_your_completed_risk_assessment</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attach your completed risk assessment for confined space entry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Crew_out_of_confined_space</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>ServiceAppointment.Crew_out_of_confined_space__c</elementReference>
            </defaultValue>
            <fieldText>Crew out of confined space</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SA_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>WODetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkType</objectType>
    </variables>
</Flow>
