force-app/main/default/flows/MSN_Assigned_Resource_Before_Delete_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>If the assigned service resource is of the Resource Type &quot;Crew&quot;, then attempt to remove the value in the field &quot;Location&quot; on the parent Work Order or WOLI of the Service Appointment related to this Assignment Record. This is required, as the other record triggered flow &quot;MSN - Assigned Resource - After Save Trigger&quot; assigns the location field to the Work Order, so that Field Staff that are part of a &quot;Crew&quot; can see and consume parts from the Crew van on their Field Service mobile apps. When a different crew or individual Service Ressource is assigned to a Service Appointment, then the &quot;Location&quot; field on the Work Order would cause the new crew or service resource being able to see and consume parts from that location (=van) too, which is undesirable.</description>
        <name>Decision_Assigned_Resource_Is_Crew</name>
        <label>Assigned Resource is a Crew?</label>
        <locationX>567</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Decision_Service_Appointment_has_FSSK_Work_Order_Field_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Outcome_AssignedRessource_IsCrew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceResource.ResourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_SA_ParentRecord_WO_or_WOLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the Parent Record of the Service Appointment linked to the Assignment record triggering this flow is linked to a Work Order or Work Order Line Item. This is required as the lookup field &quot;ParentRecordId&quot; on the Service Appointment is polymorphic and can be linked to different objects such as WO, WOLI, Asset etc.</description>
        <name>Decision_SA_ParentRecord_WO_or_WOLI</name>
        <label>Is SA Parent Record a WO or WOLI?</label>
        <locationX>347</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Decision_Service_Appointment_has_FSSK_Work_Order_Field_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unhandled Parent Record</defaultConnectorLabel>
        <rules>
            <name>Outcome_Parent_Is_WorkOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.ParentRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0WO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Location_on_Work_Order</targetReference>
            </connector>
            <label>Work Order</label>
        </rules>
        <rules>
            <name>Outcome_Parent_Is_WorkOrderLineItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.ParentRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1WL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Location_on_WorkOrderLineItem</targetReference>
            </connector>
            <label>Work Order Line Item</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether the Service Appointment related to the Assigned Ressource record triggering this Flow, has the custom field &quot;FSSK Work Order&quot; populated (otherwise subsequent flow would fail if blank).</description>
        <name>Decision_Service_Appointment_has_FSSK_Work_Order_Field_populated</name>
        <label>Service Appointment has FSSK Work Order Field populated?</label>
        <locationX>567</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Outcome_SA_has_FSSKWorkOrder_Field_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.FSSK__FSK_Work_Order__r.ParentWorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_ServiceAppointment_has_Grandparent_WorkOrder</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether the Service Appointment related to the Assigned Ressource record triggering this Flow, is related to a Work Order AND the Work Order is a child of a Parent Work Order (=Grandparent of the SA).</description>
        <name>Decision_ServiceAppointment_has_Grandparent_WorkOrder</name>
        <label>Service Appointment has Grandparent Work Order?</label>
        <locationX>380</locationX>
        <locationY>983</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Outcome_SA_has_Grandparent_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.FSSK__FSK_Work_Order__r.ParentWorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.FSSK__FSK_Work_Order__r.ParentWorkOrderId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0WO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Share_Record_for_Grandparent_Work_Order</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>If a Work Order Share Record exists that is related to the user related to the assigned Service Ressource, then delete it in the subsequent path.</description>
        <name>Work_Order_Share_Record_Exists</name>
        <label>Work Order Share Record Exists?</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Outcome_ShareRecordExists_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Share_Record_for_Grandparent_Work_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Work_Order_Share_Record</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>06/05/2022 - V1:  Introduced new triggered flow on &quot;Assigned Ressource Object&quot;. This is used in order to automatically delete a &quot;Work Order Share&quot; record that shared the Parent Work Order with the assigned service resource that carries out a child work order when the Assigned Ressource record is deleted. This should prevent that Service ressource not longer assigned to a job have access to records they don&apos;t need any longer.

28/10/2022 - V2: Add functionality to automatically remove the value of the field &quot;Location&quot; on Work Order/Work order line item, if the Assigned Service Ressource was of the type &quot;Crew&quot; and the field &quot;Location&quot; had been previously populated by the flow &quot;MSN - Assigned Ressource - After Save Trigger&quot;.  See: https://watercarestp.atlassian.net/browse/MSRS-2410 for further details.

31/10/2022 - V3: Update the Element &quot;Remove Location from Work Order Line Item&quot; and set the field value &quot;Empty String (not null)&quot; as the value for the field &quot;Location&quot; in case the assigned Service Appointment is related to a WOLI;

15/11/2022 - V4: Update the decision &quot;Service Appointment has Grand Parent Work Order&quot; to use the Resource {!$Record.ServiceAppointment.FSSK__FSK_Work_Order__c}  instead of {!$Record.ServiceAppointment.FSSK__FSK_Work_Order__r.Id as this lead to errors when the field &quot;FFSK Work Order&quot; was not populated on a Service Appointment and the flow tried to get the Id via the lookup field on the related record itself.</description>
    <environments>Default</environments>
    <interviewLabel>MSN - Assigned Resource - Before Delete Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MSN - Assigned Resource - Before Delete Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>Delete the Work Order Share Record related to the User (of the Service Ressource assigned) and the Grandparent Work Order shared.</description>
        <name>Delete_Work_Order_Share_Record</name>
        <label>Delete Work Order Share Record</label>
        <locationX>50</locationX>
        <locationY>1343</locationY>
        <inputReference>Get_Share_Record_for_Grandparent_Work_Order</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Attempt to get any Work Order Share Record that is related to the Grandparent Work Order of the Service Appointment and the User Related to the linked Service Ressource record in this Assigned Service Resource record</description>
        <name>Get_Share_Record_for_Grandparent_Work_Order</name>
        <label>Get Share Record for Grandparent Work Order</label>
        <locationX>182</locationX>
        <locationY>1103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Order_Share_Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointment.FSSK__FSK_Work_Order__r.ParentWorkOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Remove the value in the field &quot;Location&quot; on the Work Order that is parent to the Service Appointment assigned to the Resource Assignment Record triggering this flow.</description>
        <name>Remove_Location_on_Work_Order</name>
        <label>Remove Location on Work Order</label>
        <locationX>83</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Decision_Service_Appointment_has_FSSK_Work_Order_Field_populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointment.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <description>Remove the value in the field &quot;Location&quot; on the Work Order Line Item that is parent to the Service Appointment assigned to the Resource Assignment Record triggering this flow.</description>
        <name>Remove_Location_on_WorkOrderLineItem</name>
        <label>Remove Location on Work Order Line Item</label>
        <locationX>347</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Decision_Service_Appointment_has_FSSK_Work_Order_Field_populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointment.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <start>
        <locationX>441</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Assigned_Resource_Is_Crew</targetReference>
        </connector>
        <object>AssignedResource</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Draft</status>
</Flow>
