force-app/main/default/flows/MSN_Service_Appointment_Confined_Space_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Planned_WasteWater</name>
        <label>Planned WasteWater</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>NotificationMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F96D0000000KMYSA2</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Planned_Water</name>
        <label>Planned Water</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>NotificationMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F96D0000000KMTSA2</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Reactive_Wasterwater</name>
        <label>Reactive Wasterwater</label>
        <locationX>842</locationX>
        <locationY>528</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>NotificationMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F96D0000000KMdSAM</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Reactive_Water</name>
        <label>Reactive Water</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>NotificationMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F96D0000000JprSAE</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>This will check if the FC has checked the checkbox &quot;Crew out of confined space&quot; on the service appointment from the mobile action.</description>
        <name>Check_if_crew_is_out_of_confined_space</name>
        <label>Check if crew is out of confined space</label>
        <locationX>1502</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Update_Gantt_Colour_to_Red</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Action required</defaultConnectorLabel>
        <rules>
            <name>No_Action_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Crew_out_of_confined_space__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Action required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_service_area_and_type_of_work</name>
        <label>Check service area and type of work</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_area_water_and_type_of_work_planned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_work_types.Service_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Water</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_work_types.MSN_TypeOfWork__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Planned_Water</targetReference>
            </connector>
            <label>Service area water and type of work planned</label>
        </rules>
        <rules>
            <name>Service_area_water_and_type_of_work_reactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_work_types.Service_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Water</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_work_types.MSN_TypeOfWork__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reactive_Water</targetReference>
            </connector>
            <label>Service area water and type of work reactive</label>
        </rules>
        <rules>
            <name>Service_area_wastewater_and_type_of_work_planned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_work_types.Service_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wastewater</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_work_types.MSN_TypeOfWork__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Planned_WasteWater</targetReference>
            </connector>
            <label>Service area wastewater and type of work planned</label>
        </rules>
        <rules>
            <name>Service_area_wastewater_and_type_of_work_reactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_work_types.Service_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wastewater</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_work_types.MSN_TypeOfWork__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reactive_Wasterwater</targetReference>
            </connector>
            <label>Service area wastewater and type of work reactive</label>
        </rules>
    </decisions>
    <description>29/04/2022-V4: This flow is required in order to execute the scheduled path after the field crew has submitted the confined space entry details from the mobile app. The field crew is in the confined space and if they don&apos;t come out within the expected time out then the service appointment gantt colour should be updated to red.
29/04/2022-V5: Just need to run on update record.
9/06/2022-V6: Adding the formula field to convert the expected time confined space date time to gmt timezone
9/06/2022-V7: Removing the formula added for the timezone</description>
    <environments>Default</environments>
    <interviewLabel>MSN - Service Appointment - Confined Space Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MSN - Service Appointment - Confined Space Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_work_types</name>
        <label>Get work types</label>
        <locationX>578</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_service_area_and_type_of_work</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MSN_TypeOfWork__c</queriedFields>
        <queriedFields>Service_Area__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the service appointment colour to red to inform the JC that the FC is still in the confined space entry. The JC will need to contact the standby crew immediately to check on the status of the FC in the confined space.</description>
        <name>Update_Gantt_Colour_to_Red</name>
        <label>Update Gantt Colour to Red</label>
        <locationX>1634</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>FSL__GanttColor__c</field>
            <value>
                <stringValue>#FF0000</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_work_types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Confined_space_entry__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Expected_time_out_of_confined_space__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Update_Gantt_Label</name>
            <connector>
                <targetReference>Check_if_crew_is_out_of_confined_space</targetReference>
            </connector>
            <label>Update Gantt Label</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Expected_time_out_of_confined_space__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>NotificationMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Crew is in the confined space entry. 
The expected time crew is going in the confined space entry is {!$Record.Expected_time_going_in_confined_space__c}
The expected time out is {!$Record.Expected_time_out_of_confined_space__c}
WorkType: {!Get_work_types.Name}
Service Area: {!Get_work_types.Service_Area__c}</text>
    </textTemplates>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
