force-app/main/default/flows/MSN_Field_Service_Mobile_App_Water_Status_On_Off.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_estimated_water_on_time_0</name>
        <label>Assign estimated water on time</label>
        <locationX>2074</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Estimated_Water_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Water_On_Time_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Estimated_Water_On_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Water_On_Time_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Turn Water Off including impact assessment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_screen_for_impact_assessment_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_the_Work_Order_fields</name>
        <label>Assign values to the Work Order fields</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Impact_Assessment_Done__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.How_many_properties_are_impacted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_many_properties_are_impacted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Which_streets_are_impacted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_streets_are_impacted_by_water_on_off</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.How_many_properties_are_impacted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_many_properties_are_impacted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Which_streets_are_impacted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_streets_are_impacted_by_water_on_off</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_JobNote_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Impact Assessment before turning Water Off</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Has_the_customer_been_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_customer_been_notified_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Has_the_customer_been_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_customer_been_notified_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Key_Customer_or_Dialysis_Patient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_the_Work_Order_fields_0</name>
        <label>Assign values to the Work Order fields</label>
        <locationX>1678</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Impact_Assessment_Done__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.How_many_properties_are_impacted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_many_properties_are_impacted_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Which_streets_are_impacted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_streets_are_impacted_by_water_on_off_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.How_many_properties_are_impacted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_many_properties_are_impacted_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Which_streets_are_impacted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_streets_are_impacted_by_water_on_off_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_JobNote_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Turning Water Off including impact assessment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Has_the_customer_been_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_customer_been_notified_1_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Has_the_customer_been_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_customer_been_notified_1_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Actual_water_off_time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Water_On_Off_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Off</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Key_Customer_or_Dialysis_Patient_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to Work Order and Job Notes field</description>
        <name>Assign_values_to_work_order_and_job_notes_fields_0</name>
        <label>Assign values to work order and job notes fields</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Key_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key_Customer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Key_Customer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key_Customer_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Address_for_impacted_key_customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_impacted_key_customer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.When_was_the_customer_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_was_the_customer_notified</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Estimated_Water_Off_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_water_off_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_JobNote_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_notes_of_discussion_had_with_the_customer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Has_the_customer_been_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_customer_been_notified</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Key_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key_Customer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Key_Customer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key_Customer_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Address_for_the_impacted_Key_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_impacted_key_customer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Estimated_Water_Off_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_water_off_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.When_was_the_customer_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_was_the_customer_notified</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Has_the_customer_been_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_customer_been_notified</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Contact_number_for_key_customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key_Customer_Contact_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Impact Assessment Only</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Key_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_screen_for_impact_assessment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to Work Order and Job Notes field</description>
        <name>Assign_values_to_work_order_and_job_notes_fields_0_0</name>
        <label>Assign values to work order and job notes fields</label>
        <locationX>1282</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Key_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Key_Customer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key_Customer_Name_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Address_for_impacted_key_customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_impacted_key_customer_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.When_was_the_customer_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_was_the_customer_notified_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Estimated_Water_Off_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_water_off_time_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_JobNote_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_notes_of_discussion_had_with_the_customer_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Has_the_customer_been_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_customer_been_notified_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Key_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Key_Customer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key_Customer_Name_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Address_for_the_impacted_Key_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_impacted_key_customer_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Estimated_Water_Off_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_water_off_time_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.When_was_the_customer_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_was_the_customer_notified_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Estimated_Water_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_water_on_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Estimated_Water_On_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_water_on_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Has_the_customer_been_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_customer_been_notified_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Contact_number_for_key_customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key_Customer_Contact_Number_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Turned Water Off Including Impact Assessment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Key_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_screen_for_impact_assessment_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to Work Order and Job Notes field</description>
        <name>Assign_values_to_work_order_and_job_notes_fields_1</name>
        <label>Assign values to work order and job notes fields</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Dialysis_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Dialysis_Patient_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dialysis_Patient_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Address_for_impacted_dialysis_patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_impacted_dialysis_patient</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.When_was_the_customer_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_was_the_customer_notified_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Estimated_Water_Off_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_water_off_time_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_JobNote_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_notes_of_discussion_had_with_the_customer_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Has_the_customer_been_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_customer_been_notified_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Dialysis_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Dialysis_Patient_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dialysis_Patient_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Address_for_the_impacted_DialysisPatient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_impacted_dialysis_patient</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.When_was_the_customer_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_was_the_customer_notified_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Estimated_Water_Off_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_water_off_time_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Has_the_customer_been_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_customer_been_notified_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Contact_number_for_dialysis_patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dialysis_Patient_Contact_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Impact Assessment Only</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Dialysis_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_screen_for_impact_assessment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to Work Order and Job Notes field</description>
        <name>Assign_values_to_work_order_and_job_notes_fields_1_0</name>
        <label>Assign values to work order and job notes fields</label>
        <locationX>1546</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Dialysis_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Dialysis_Patient_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dialysis_Patient_Name_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Address_for_impacted_dialysis_patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_impacted_dialysis_patient_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.When_was_the_customer_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_was_the_customer_notified_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Estimated_Water_Off_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_water_off_time_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_JobNote_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_notes_of_discussion_had_with_the_customer_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Has_the_customer_been_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_customer_been_notified_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Dialysis_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Dialysis_Patient_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dialysis_Patient_Name_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Address_for_the_impacted_DialysisPatient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_impacted_dialysis_patient_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.When_was_the_customer_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_water_off_time_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Estimated_Water_Off_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_water_off_time_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Estimated_Water_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_water_on_time_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Estimated_Water_On_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_water_on_time_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Has_the_customer_been_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_customer_been_notified_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Contact_number_for_dialysis_patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dialysis_Patient_Contact_Number_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Turned Water Off Including Impact Assessment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Dialysis_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_screen_for_impact_assessment_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to Work Order and Job Notes field</description>
        <name>Assign_values_to_work_order_and_job_notes_fields_2</name>
        <label>Assign values to work order and job notes fields</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Key_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Key_Customer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key_Customer_Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Address_for_impacted_key_customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_impacted_key_customer_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.When_was_the_customer_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_was_the_customer_notified_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Estimated_Water_Off_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_water_off_time_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_JobNote_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_notes_of_discussion_had_with_the_customer_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Dialysis_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Dialysis_Patient_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dialysis_Patient_Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Address_for_impacted_dialysis_patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_impacted_dialysis_patient_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Has_the_customer_been_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_customer_been_notified_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Key_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Key_Customer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key_Customer_Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Address_for_the_impacted_Key_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_impacted_key_customer_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.When_was_the_customer_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_was_the_customer_notified_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Estimated_Water_Off_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_water_off_time_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Dialysis_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Dialysis_Patient_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dialysis_Patient_Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Address_for_the_impacted_DialysisPatient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_impacted_dialysis_patient_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Has_the_customer_been_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_customer_been_notified_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Contact_number_for_key_customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key_Customer_Contact_Number_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Contact_number_for_dialysis_patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dialysis_Patient_Contact_Number_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Impact Assessment Only</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Key_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Dialysis_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_screen_for_impact_assessment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to Work Order and Job Notes field</description>
        <name>Assign_values_to_work_order_and_job_notes_fields_2_0</name>
        <label>Assign values to work order and job notes fields</label>
        <locationX>1810</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Key_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Key_Customer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key_Customer_Name_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Address_for_impacted_key_customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_impacted_key_customer_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.When_was_the_customer_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_was_the_customer_notified_0_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Estimated_Water_Off_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_water_off_time_0_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_JobNote_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_notes_of_discussion_had_with_the_customer_0_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Dialysis_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Dialysis_Patient_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dialysis_Patient_Name_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Address_for_impacted_dialysis_patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_impacted_dialysis_patient_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Has_the_customer_been_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_customer_been_notified_0_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Key_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Key_Customer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key_Customer_Name_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Address_for_the_impacted_Key_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_impacted_key_customer_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.When_was_the_customer_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_was_the_customer_notified_0_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Estimated_Water_Off_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_water_off_time_0_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Dialysis_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Dialysis_Patient_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dialysis_Patient_Name_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Address_for_the_impacted_DialysisPatient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_impacted_dialysis_patient_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Estimated_Water_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_water_on_time_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Estimated_Water_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_water_on_time_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Has_the_customer_been_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_the_customer_been_notified_0_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Contact_number_for_key_customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key_Customer_Contact_Number_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Contact_number_for_dialysis_patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dialysis_Patient_Contact_Number_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Turned Water Off Including Impact Assessment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Key_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Dialysis_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_screen_for_impact_assessment_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to Work Order and Job Notes field</description>
        <name>Assign_values_to_work_order_and_job_notes_fields_3</name>
        <label>Assign values to work order and job notes fields</label>
        <locationX>1018</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Water_On_Off_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Off</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Estimated_Water_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Water_On_time_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_JobNote_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Water On/Off</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_JobNote_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Water Off</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Estimated_Water_On_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Water_On_time_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Actual_water_off_time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.How_many_properties_are_impacted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_many_properties_are_impacted_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.How_many_properties_are_impacted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_many_properties_are_impacted_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Which_streets_are_impacted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Streets_are_impacted_by_water_on_off</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Which_streets_are_impacted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Streets_are_impacted_by_water_on_off</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Address_for_impacted_key_customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_key_customer_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Address_for_the_impacted_Key_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_key_customer_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Address_for_impacted_dialysis_patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_dialysis_patient_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Address_for_the_impacted_DialysisPatient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_dialysis_patient_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.When_was_the_customer_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_was_the_customer_notified_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.When_was_the_customer_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_was_the_customer_notified_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Turn Water Off</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WorkOrder_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to Work Order and Job Notes field</description>
        <name>Assign_values_to_work_order_and_job_notes_fields_3_0</name>
        <label>Assign values to work order and job notes fields</label>
        <locationX>2866</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Estimated_Water_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Water_On_time_1_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_JobNote_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Water On/Off</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_JobNote_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Extended water off time</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Estimated_Water_On_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Water_On_time_1_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.How_many_properties_are_impacted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_many_properties_are_impacted_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.How_many_properties_are_impacted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_many_properties_are_impacted_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Which_streets_are_impacted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Streets_are_impacted_by_water_on_off_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Which_streets_are_impacted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Streets_are_impacted_by_water_on_off_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Address_for_impacted_key_customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_key_customer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Address_for_the_impacted_DialysisPatient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_for_dialysis_patient</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.When_was_the_customer_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_was_the_customer_notified_1_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.When_was_the_customer_notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>When_was_the_customer_notified_1_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Extend Water On Time</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WorkOrder_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to Work Order and Job Notes field</description>
        <name>Assign_values_to_work_order_and_job_notes_fields_3_0_0</name>
        <label>Assign values to work order and job notes fields</label>
        <locationX>2602</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Estimated_Water_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_time_was_water_turn_on_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_JobNote_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Water On/Off</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Water_On_Off_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_JobNote_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Water turned ON</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Estimated_Water_On_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_time_was_water_turn_on_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Actual_water_on_time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Turn Water On</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_WorkOrder_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DialysisPatient</name>
        <choiceText>{!WorkOrderRecord.Dialysis_Patient__c}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Extend_Water_Off_time</name>
        <choiceText>Extend Water Off time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extend Water Off time</stringValue>
        </value>
    </choices>
    <choices>
        <name>Impact_Assessment_Only</name>
        <choiceText>Impact Assessment Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Impact Assessment Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>KeyCustomer</name>
        <choiceText>{!WorkOrderRecord.Key_Customer__c}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Off</name>
        <choiceText>Off</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Off</stringValue>
        </value>
    </choices>
    <choices>
        <name>On</name>
        <choiceText>On</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>On</stringValue>
        </value>
    </choices>
    <choices>
        <name>Turn_Water_Off_including_Impact_assessment</name>
        <choiceText>Turn Water Off (including Impact assessment)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Turn Water Off (including Impact assessment)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Turn_Water_On</name>
        <choiceText>Turn Water On</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Turn Water On</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_extend_or_water_on</name>
        <label>Check extend or water on</label>
        <locationX>2866</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Select_the_correct_option</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Water_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_what_you_want_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Turn_Water_On</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WaterOn_Screen_0</targetReference>
            </connector>
            <label>Water On</label>
        </rules>
        <rules>
            <name>If_extend_water_off_time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_what_you_want_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Extend_Water_Off_time</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepopulatescreen_0</targetReference>
            </connector>
            <label>If extend water off time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Key_Customer_or_Dialysis_Patient</name>
        <label>Check Key Customer or Dialysis Patient</label>
        <locationX>446</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Confirmation_screen_for_impact_assessment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Key_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Key_Customer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dialysis_Patient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Water_Shutdown_Impact_AssessmentII</targetReference>
            </connector>
            <label>If Key Customer</label>
        </rules>
        <rules>
            <name>If_Dialysis_Patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dialysis_Patient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Key_Customer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Water_Shutdown_Impact_AssessmentII_0</targetReference>
            </connector>
            <label>If Dialysis Patient</label>
        </rules>
        <rules>
            <name>If_both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dialysis_Patient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Key_Customer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Water_Shutdown_Impact_AssessmentII_0_0</targetReference>
            </connector>
            <label>If both</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Key_Customer_or_Dialysis_Patient_0</name>
        <label>Check Key Customer or Dialysis Patient</label>
        <locationX>1678</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Confirm_estimated_water_on_time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Key_Customer_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Key_Customer_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dialysis_Patient_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Water_Shutdown_Impact_AssessmentII_0_0_0</targetReference>
            </connector>
            <label>If Key Customer</label>
        </rules>
        <rules>
            <name>If_Dialysis_Patient_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dialysis_Patient_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Key_Customer_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Water_Shutdown_Impact_AssessmentII_0_0_0_0</targetReference>
            </connector>
            <label>If Dialysis Patient</label>
        </rules>
        <rules>
            <name>If_both_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dialysis_Patient_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Key_Customer_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Water_Shutdown_Impact_AssessmentII_0_0_0_0_0</targetReference>
            </connector>
            <label>If both</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_option_selected_above</name>
        <label>Check the option selected above</label>
        <locationX>1392</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Select_correct_option</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_impact_assessment_only_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_what_you_would_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Impact_Assessment_Only</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord.Impact_Assessment_Done__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Water_Shutdown_Impact_Assessment</targetReference>
            </connector>
            <label>If impact assessment only selected</label>
        </rules>
        <rules>
            <name>If_water_off_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_what_you_would_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Turn_Water_Off_including_Impact_assessment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord.Impact_Assessment_Done__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepopulatescreen</targetReference>
            </connector>
            <label>If water off selected</label>
        </rules>
        <rules>
            <name>If_water_off_including_assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_what_you_would_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Turn_Water_Off_including_Impact_assessment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord.Impact_Assessment_Done__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Water_Shutdown_Impact_Assessment_0</targetReference>
            </connector>
            <label>If water off including assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Water_Status</name>
        <label>Check Water Status</label>
        <locationX>2393</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Invalid_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Water_Status_Blank</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord.Water_On_Off_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord.Water_On_Off_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Water_Status_On_Off</targetReference>
            </connector>
            <label>Water Status Blank</label>
        </rules>
        <rules>
            <name>Water_Status_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord.Water_On_Off_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Off</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Water_On_and_Extend_Time_Screen</targetReference>
            </connector>
            <label>Water Status Off</label>
        </rules>
    </decisions>
    <description>https://watercarestp.atlassian.net/browse/MSRS-263
This flow is used to check the water on/off request. When the field crew needs to turn the water off the flow will record the time and water status. This will also create the job notes with the required fields. The water status will be updated on the Work Order as well.
V15: This version is created to add two more options as extend time and Impact analysis
V17- Dont set the water off to default
Water off including impact assessment will go to the same screen to populate the details
Show the water status on extend time
Water turned on then they should be able to turn it off and on again
V28- Updated the flow as per the Miro feedback
V29- The impact assessment field cannot be populated on the job notes from flow, it should be a formula field as job notes are created at each step.
V30- Update the actual water on and off time to calculate the total duration water was turned off
V33- version 31-33  only for beautification of label.
V34- Make fields Mandatory
V13- Has customer been notified is not mandatory</description>
    <dynamicChoiceSets>
        <name>Customernotified</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Has_the_customer_been_notified__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WaterStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ActualTimeWaterWasTurnedOn</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>ActualWaterTurnedOff</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>TotalTimeforWaterOnOff</name>
        <dataType>Number</dataType>
        <expression>2</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>MSN Field Service Mobile App -Water Status On/Off {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MSN Field Service Mobile App -Water Status On/Off</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Job_Note</name>
        <label>Create Job Note</label>
        <locationX>2393</locationX>
        <locationY>2006</locationY>
        <inputReference>JobNotes</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Job_Notes</name>
        <label>Get Job Notes</label>
        <locationX>2393</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Water_Status</targetReference>
        </connector>
        <object>MSN_JobNotes__c</object>
        <outputReference>JobNotes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MSN_JobNote_Details__c</queriedFields>
        <queriedFields>MSN_JobNote_Type__c</queriedFields>
        <queriedFields>Impact_Assessment_Done1__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>2393</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointmentRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Key_Customer__c</queriedFields>
        <queriedFields>Dialysis_Patient__c</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>2393</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Job_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Water_On_Off_Status__c</queriedFields>
        <queriedFields>How_many_properties_are_impacted__c</queriedFields>
        <queriedFields>Key_Customer__c</queriedFields>
        <queriedFields>Dialysis_Patient__c</queriedFields>
        <queriedFields>Key_Customer_Name__c</queriedFields>
        <queriedFields>Dialysis_Patient_Name__c</queriedFields>
        <queriedFields>Which_streets_are_impacted__c</queriedFields>
        <queriedFields>Address_for_impacted_dialysis_patient__c</queriedFields>
        <queriedFields>Address_for_impacted_key_customer__c</queriedFields>
        <queriedFields>When_was_the_customer_notified__c</queriedFields>
        <queriedFields>Has_the_customer_been_notified__c</queriedFields>
        <queriedFields>Impact_Assessment_Done__c</queriedFields>
        <queriedFields>Customer_notified_Yes_or_No__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_WorkOrder_0</name>
        <label>Update WorkOrder</label>
        <locationX>2393</locationX>
        <locationY>1886</locationY>
        <connector>
            <targetReference>Create_Job_Note</targetReference>
        </connector>
        <inputReference>WorkOrderRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm_estimated_water_on_time</name>
        <label>Confirm estimated water on time</label>
        <locationX>2074</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_estimated_water_on_time_0</targetReference>
        </connector>
        <fields>
            <name>Estimated_Water_On_Time_0_0_0</name>
            <dataType>DateTime</dataType>
            <fieldText>Estimated Water On Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_screen_for_impact_assessment</name>
        <label>Confirmation screen for impact assessment</label>
        <locationX>446</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_WorkOrder_0</targetReference>
        </connector>
        <fields>
            <name>Impact_Assessment</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 26px;&quot;&gt;Impact Assessment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Great, Your impact assessment is saved!&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You&apos;ll still have to return to confirm water off.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_screen_for_impact_assessment_0_0</name>
        <label>Confirmation screen for impact assessment</label>
        <locationX>1282</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_WorkOrder_0</targetReference>
        </connector>
        <fields>
            <name>Impact_Assessment_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 26px;&quot;&gt;Water Shutdown&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationScreen_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Great, Water is turned off.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Estimated Water On Time&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Estimated_water_on_time}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_screen_for_impact_assessment_0_0_0</name>
        <label>Confirmation screen for impact assessment</label>
        <locationX>1546</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_WorkOrder_0</targetReference>
        </connector>
        <fields>
            <name>Impact_Assessment_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 26px;&quot;&gt;Water Shutdown&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationScreen_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Great, Water is turned off.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Estimated Water On Time&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Estimated_water_on_time_0}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_screen_for_impact_assessment_0_0_0_0</name>
        <label>Confirmation screen for impact assessment</label>
        <locationX>1810</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_WorkOrder_0</targetReference>
        </connector>
        <fields>
            <name>Impact_Assessment_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 26px;&quot;&gt;Water Shutdown&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationScreen_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Great, Water is turned off.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Estimated Water On Time&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Estimated_water_on_time_0_0}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_screen_for_impact_assessment_0_0_0_0_0</name>
        <label>Confirmation screen for impact assessment</label>
        <locationX>2074</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_WorkOrder_0</targetReference>
        </connector>
        <fields>
            <name>Impact_Assessment_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 26px;&quot;&gt;Water Shutdown&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationScreen_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Great, Water is turned off.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Estimated Water On Time&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Estimated_Water_On_Time_0_0_0}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Extend_WaterOff_Time_Screen</name>
        <label>Extend WaterOff Time Screen</label>
        <locationX>2866</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_to_work_order_and_job_notes_fields_3_0</targetReference>
        </connector>
        <fields>
            <name>WaterOffconfirmation_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2); font-size: 18px;&quot;&gt;Water is turned off. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt;Estimated Water On Time&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Estimated_Water_On_time_1_0}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_Input</name>
        <label>Invalid Input</label>
        <locationX>3394</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Invalidinput</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Error - Wrong job status&lt;/b&gt;&lt;/p&gt;&lt;p&gt;It looks like your Job is not in the right status in order to add work details. Your job might not be started yet or is already completed.&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please use the &quot;Update Status&quot; action first to confirm that you are on site.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Prepopulatescreen</name>
        <label>Prepopulatescreen</label>
        <locationX>1018</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WaterOff_Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>WaterOff</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Please Confirm details for Water Off&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Wateroffconfirm</name>
            <fieldText>&lt;p&gt;Select below to confirm water shutdown&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Water_Status</name>
            <choiceReferences>Off</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Water Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Estimated_Water_On_time_1</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Estimated Water On time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_many_properties_are_impacted_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>WorkOrderRecord.How_many_properties_are_impacted__c</elementReference>
            </defaultValue>
            <fieldText>How many properties are impacted?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Streets_are_impacted_by_water_on_off</name>
            <defaultValue>
                <stringValue>{!WorkOrderRecord.Which_streets_are_impacted__c}</stringValue>
            </defaultValue>
            <fieldText>Streets are impacted by water on/off?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_for_key_customer_2</name>
            <defaultValue>
                <stringValue>{!WorkOrderRecord.Address_for_impacted_key_customer__c}</stringValue>
            </defaultValue>
            <fieldText>Address for key customer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_for_dialysis_patient_2</name>
            <defaultValue>
                <stringValue>{!WorkOrderRecord.Address_for_impacted_dialysis_patient__c}</stringValue>
            </defaultValue>
            <fieldText>Address for dialysis patient</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Has_the_customer_been_notified_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>WorkOrderRecord.Customer_notified_Yes_or_No__c</elementReference>
            </defaultValue>
            <fieldText>Has the customer been notified?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>When_was_the_customer_notified_2</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>WorkOrderRecord.When_was_the_customer_notified__c</elementReference>
            </defaultValue>
            <fieldText>When was the customer notified?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Prepopulatescreen_0</name>
        <label>Prepopulatescreen</label>
        <locationX>2866</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Extend_WaterOff_Time_Screen</targetReference>
        </connector>
        <fields>
            <name>WaterOff_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Please Confirm details for Water Off&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Wateroffconfirm_0</name>
            <fieldText>&lt;p&gt;Select below to confirm water shutdown&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Water_Status2</name>
            <choiceReferences>Off</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Off</defaultSelectedChoiceReference>
            <fieldText>Water Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Estimated_Water_On_time_1_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>WorkOrderRecord.Estimated_Water_On__c</elementReference>
            </defaultValue>
            <fieldText>Estimated Water On time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>How_many_properties_are_impacted_0_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>WorkOrderRecord.How_many_properties_are_impacted__c</elementReference>
            </defaultValue>
            <fieldText>How many properties are impacted?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Streets_are_impacted_by_water_on_off_0</name>
            <defaultValue>
                <stringValue>{!WorkOrderRecord.Which_streets_are_impacted__c}</stringValue>
            </defaultValue>
            <fieldText>Streets are impacted by water on/off?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_for_key_customer</name>
            <defaultValue>
                <stringValue>{!WorkOrderRecord.Address_for_impacted_key_customer__c}</stringValue>
            </defaultValue>
            <fieldText>Address for key customer or dialysis patient</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_for_dialysis_patient</name>
            <defaultValue>
                <stringValue>{!WorkOrderRecord.Address_for_impacted_dialysis_patient__c}</stringValue>
            </defaultValue>
            <fieldText>Address for dialysis patient</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Has_the_customer_been_notified_2_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>WorkOrderRecord.Customer_notified_Yes_or_No__c</elementReference>
            </defaultValue>
            <fieldText>Has the customer been notified?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>When_was_the_customer_notified_1_0_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>WorkOrderRecord.When_was_the_customer_notified__c</elementReference>
            </defaultValue>
            <fieldText>When was the customer notified?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_correct_option</name>
        <label>Select correct option</label>
        <locationX>2338</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Handledefaultoutcome</name>
            <fieldText>&lt;p&gt;Please check if you are selecting the correct option.&lt;/p&gt;&lt;p&gt;If you&apos;ve previously completed the impact assessment. Return to the previous and select option to turn the water off.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_the_correct_option</name>
        <label>Select the correct option</label>
        <locationX>3130</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Invalidscreenextendorwateron</name>
            <fieldText>&lt;p&gt;Please select the correct option:&lt;/p&gt;&lt;p&gt;Extend Water OFF Time&lt;/p&gt;&lt;p&gt;Turn Water ON&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Water_On_and_Extend_Time_Screen</name>
        <label>Water On and Extend Time Screen</label>
        <locationX>2866</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_extend_or_water_on</targetReference>
        </connector>
        <fields>
            <name>Select_what_you_want_to_do</name>
            <choiceReferences>Extend_Water_Off_time</choiceReferences>
            <choiceReferences>Turn_Water_On</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select what you want to do</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Water_Shutdown_Impact_Assessment</name>
        <label>Water Shutdown Impact Assessment</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_to_the_Work_Order_fields</targetReference>
        </connector>
        <fields>
            <name>ImpactAssessment</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Water Shutdown Impact Assessment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ImpactAssessmentScreen</name>
            <fieldText>&lt;p&gt;To turn Water Status OFF &lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(26, 26, 26);&quot;&gt;You must complete &lt;/span&gt;&lt;b&gt;Impact Assessment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Has_the_customer_been_notified_1</name>
            <dataType>Boolean</dataType>
            <fieldText>Has the customer been notified?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>How_many_properties_are_impacted</name>
            <dataType>Number</dataType>
            <fieldText>How many properties are impacted?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Which_streets_are_impacted_by_water_on_off</name>
            <fieldText>Which streets are impacted by water on/off?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Keycustomerordialysispatient</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Is this a key customer or dialysis patient?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Key_Customer</name>
            <dataType>Boolean</dataType>
            <fieldText>Key Customer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dialysis_Patient</name>
            <dataType>Boolean</dataType>
            <fieldText>Dialysis Patient</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Water_Shutdown_Impact_Assessment_0</name>
        <label>Water Shutdown Impact Assessment</label>
        <locationX>1678</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_to_the_Work_Order_fields_0</targetReference>
        </connector>
        <fields>
            <name>ImpactAssessment_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Water Shutdown Impact Assessment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ImpactAssessmentScreen_0</name>
            <fieldText>&lt;p&gt;To turn Water Status OFF &lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(26, 26, 26);&quot;&gt;You must complete &lt;/span&gt;&lt;b&gt;Impact Assessment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Has_the_customer_been_notified_1_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Has the customer been notified?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>How_many_properties_are_impacted_0_0_0</name>
            <dataType>Number</dataType>
            <fieldText>How many properties are impacted?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Which_streets_are_impacted_by_water_on_off_0</name>
            <fieldText>Which streets are impacted by water on/off?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Keycustomerordialysispatient_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Is this a key customer or dialysis patient?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Key_Customer_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Key Customer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dialysis_Patient_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Dialysis Patient</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Water_Shutdown_Impact_AssessmentII</name>
        <label>Water Shutdown Impact Assessment</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_to_work_order_and_job_notes_fields_0</targetReference>
        </connector>
        <fields>
            <name>ImpactAssessmentII</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Water Shutdown Impact Assessment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Has_the_customer_been_notified</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Has_the_customer_been_notified_1</elementReference>
            </defaultValue>
            <fieldText>Has the customer been notified?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Key_Customer_Name</name>
            <dataType>String</dataType>
            <fieldText>Key Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Key_Customer_Contact_Number</name>
            <dataType>String</dataType>
            <fieldText>Key Customer Contact Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_for_impacted_key_customer</name>
            <fieldText>Address for impacted key customer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Add_notes_of_discussion_had_with_the_customer</name>
            <fieldText>Add notes of discussion had with the customer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>When_was_the_customer_notified</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>When was the customer notified?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Estimated_water_off_time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Estimated water off time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Water_Shutdown_Impact_AssessmentII_0</name>
        <label>Water Shutdown Impact Assessment</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_to_work_order_and_job_notes_fields_1</targetReference>
        </connector>
        <fields>
            <name>ImpactAssessmentII_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Water Shutdown Impact Assessment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Has_the_customer_been_notified_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Has_the_customer_been_notified_1</elementReference>
            </defaultValue>
            <fieldText>Has the customer been notified?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dialysis_Patient_Name</name>
            <dataType>String</dataType>
            <fieldText>Dialysis Patient Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dialysis_Patient_Contact_Number</name>
            <dataType>String</dataType>
            <fieldText>Dialysis Patient Contact Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_for_impacted_dialysis_patient</name>
            <fieldText>Address for impacted dialysis patient</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Add_notes_of_discussion_had_with_the_customer_0</name>
            <fieldText>Add notes of discussion had with the customer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>When_was_the_customer_notified_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>When was the customer notified?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Estimated_water_off_time_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Estimated water off time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Water_Shutdown_Impact_AssessmentII_0_0</name>
        <label>Water Shutdown Impact Assessment</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_to_work_order_and_job_notes_fields_2</targetReference>
        </connector>
        <fields>
            <name>ImpactAssessmentIII</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Water Shutdown Impact Assessment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Has_the_customer_been_notified_0_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Has_the_customer_been_notified_1</elementReference>
            </defaultValue>
            <fieldText>Has the customer been notified?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Key_Customer_Name_0</name>
            <dataType>String</dataType>
            <fieldText>Key Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Key_Customer_Contact_Number_0</name>
            <dataType>String</dataType>
            <fieldText>Key Customer Contact Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_for_impacted_key_customer_0</name>
            <fieldText>Address for impacted key customer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dialysis_Patient_Name_0</name>
            <dataType>String</dataType>
            <fieldText>Dialysis Patient Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dialysis_Patient_Contact_Number_0</name>
            <dataType>String</dataType>
            <fieldText>Dialysis Patient Contact Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_for_impacted_dialysis_patient_0</name>
            <fieldText>Address for impacted dialysis patient</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Add_notes_of_discussion_had_with_the_customer_0_0</name>
            <fieldText>Add notes of discussion had with the customer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>When_was_the_customer_notified_0_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>When was the customer notified?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Estimated_water_off_time_0_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Estimated water off time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Water_Shutdown_Impact_AssessmentII_0_0_0</name>
        <label>Water Shutdown Impact Assessment</label>
        <locationX>1282</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_to_work_order_and_job_notes_fields_0_0</targetReference>
        </connector>
        <fields>
            <name>ImpactAssessmentII_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Water Shutdown Impact Assessment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Has_the_customer_been_notified_0_0_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Has_the_customer_been_notified_1_0</elementReference>
            </defaultValue>
            <fieldText>Has the customer been notified?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Key_Customer_Name_0_0</name>
            <dataType>String</dataType>
            <fieldText>Key Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Key_Customer_Contact_Number_0_0</name>
            <dataType>String</dataType>
            <fieldText>Key Customer Contact Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_for_impacted_key_customer_0_0</name>
            <fieldText>Address for impacted key customer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Add_notes_of_discussion_had_with_the_customer_0_0_0</name>
            <fieldText>Add notes of discussion had with the customer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>When_was_the_customer_notified_0_0_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>When was the customer notified?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Estimated_water_off_time_0_0_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Estimated water off time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Estimated_water_on_time</name>
            <dataType>DateTime</dataType>
            <fieldText>Estimated water on time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Water_Shutdown_Impact_AssessmentII_0_0_0_0</name>
        <label>Water Shutdown Impact Assessment</label>
        <locationX>1546</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_to_work_order_and_job_notes_fields_1_0</targetReference>
        </connector>
        <fields>
            <name>ImpactAssessmentII_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Water Shutdown Impact Assessment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Has_the_customer_been_notified_0_0_0_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Has_the_customer_been_notified_1_0</elementReference>
            </defaultValue>
            <fieldText>Has the customer been notified?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dialysis_Patient_Name_0_0</name>
            <dataType>String</dataType>
            <fieldText>Dialysis Patient Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dialysis_Patient_Contact_Number_0_0</name>
            <dataType>String</dataType>
            <fieldText>Dialysis Patient Contact Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_for_impacted_dialysis_patient_0_0</name>
            <fieldText>Address for impacted dialysis patient</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Add_notes_of_discussion_had_with_the_customer_0_0_0_0</name>
            <fieldText>Add notes of discussion had with the customer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>When_was_the_customer_notified_0_0_0_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>When was the customer notified?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Estimated_water_off_time_0_0_0_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Estimated water off time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Estimated_water_on_time_0</name>
            <dataType>DateTime</dataType>
            <fieldText>Estimated water on time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Water_Shutdown_Impact_AssessmentII_0_0_0_0_0</name>
        <label>Water Shutdown Impact Assessment</label>
        <locationX>1810</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_to_work_order_and_job_notes_fields_2_0</targetReference>
        </connector>
        <fields>
            <name>ImpactAssessmentIII_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Water Shutdown Impact Assessment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Has_the_customer_been_notified_0_0_0_0_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Has_the_customer_been_notified_1_0</elementReference>
            </defaultValue>
            <fieldText>Has the customer been notified?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Key_Customer_Name_0_0_0</name>
            <dataType>String</dataType>
            <fieldText>Key Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Key_Customer_Contact_Number_0_0_0</name>
            <dataType>String</dataType>
            <fieldText>Key Customer Contact Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_for_impacted_key_customer_0_0_0</name>
            <fieldText>Address for impacted key customer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dialysis_Patient_Name_0_0_0</name>
            <dataType>String</dataType>
            <fieldText>Dialysis Patient Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dialysis_Patient_Contact_Number_0_0_0</name>
            <dataType>String</dataType>
            <fieldText>Dialysis Patient Contact Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_for_impacted_dialysis_patient_0_0_0</name>
            <fieldText>Address for impacted dialysis patient</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Add_notes_of_discussion_had_with_the_customer_0_0_0_0_0</name>
            <fieldText>Add notes of discussion had with the customer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>When_was_the_customer_notified_0_0_0_0_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>When was the customer notified?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Estimated_water_off_time_0_0_0_0_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Estimated water off time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Estimated_water_on_time_0_0</name>
            <dataType>DateTime</dataType>
            <fieldText>Estimated water on time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Water_Status_On_Off</name>
        <label>Water Status On/Off</label>
        <locationX>1392</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_the_option_selected_above</targetReference>
        </connector>
        <fields>
            <name>Select_what_you_would_like_to_do</name>
            <choiceReferences>Turn_Water_Off_including_Impact_assessment</choiceReferences>
            <choiceReferences>Impact_Assessment_Only</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select what you would like to do</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WaterOff_Confirmation_Screen</name>
        <label>WaterOff Confirmation Screen</label>
        <locationX>1018</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_to_work_order_and_job_notes_fields_3</targetReference>
        </connector>
        <fields>
            <name>WaterOffconfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(2, 2, 2);&quot;&gt;Water is turned off. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt;Estimated Water On Time&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Estimated_Water_On_time_1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WaterOn_Screen_0</name>
        <label>WaterOn Screen</label>
        <locationX>2602</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WaterOnConfirmationScreen_0</targetReference>
        </connector>
        <fields>
            <name>WaterOnScreen_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(27, 27, 26); font-size: 26px;&quot;&gt;Confirm Time for Water On&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_time_was_water_turn_on_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>What time was water turn on?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WaterOnConfirmationScreen_0</name>
        <label>WaterOnConfirmationScreen</label>
        <locationX>2602</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_to_work_order_and_job_notes_fields_3_0_0</targetReference>
        </connector>
        <fields>
            <name>WaterOnTime_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(15, 15, 15); font-size: 18px;&quot;&gt;Great, Water turned back &lt;/span&gt;&lt;b style=&quot;color: rgb(15, 15, 15); font-size: 18px;&quot;&gt;ON&lt;/b&gt;&lt;span style=&quot;color: rgb(15, 15, 15); font-size: 18px;&quot;&gt; at&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!What_time_was_water_turn_on_0}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2267</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>JobNotes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MSN_JobNotes__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>WorkOrder_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
