force-app/main/default/flows/MSN_FSMA_Add_Work_Details_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Assign the user entered fields &quot;Job Notes&quot; to the variables.</description>
        <name>Assign_JobNotes</name>
        <label>Assign Job Notes</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>var_JobNote.MSN_JobNote_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_AddWorkDetails_AddJobNotes2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobNote.MSN_JobNote_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Note</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobNote.MSN_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobNote.MSN_Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_JobNote.Work_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderLineItemId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_CreateJobNotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the &quot;Extended  Time&quot; to the variables.</description>
        <name>Assign_NewCompletionTime</name>
        <label>Assign Completion Time</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>var_Service_Appointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_AddWorkDetails_SetNewEstimatedCompletionTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Id handed over from the Field Service Mobile App as the &quot;ParentId&quot; (=the WO Record related to the Service Appointment) to the generic varibale &quot;WorkOrderId&quot; in order to make the flow compatible with the usecase when Work Order Line item is parent to a Servie Appointment.</description>
        <name>Assign_Parent_WO_Id_to_WorkOrderID_Variable</name>
        <label>Assign Parent WO Id to WorkOrderID Variable</label>
        <locationX>270</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Appointment_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if field crew selected to extend the time in the flow screen.</description>
        <name>decision_CheckForExtendedTime</name>
        <label>Check for extended time</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Update_Service_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Time not extended</defaultConnectorLabel>
        <rules>
            <name>outcome_TimeExtendedValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Screen_AddWorkDetails_SetNewEstimatedCompletionTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Screen_AddWorkDetails_SetNewEstimatedCompletionTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_Service_Appointment.ActualStartTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NewCompletionTime</targetReference>
            </connector>
            <label>Time extended and valid</label>
        </rules>
        <rules>
            <name>outcome_TimeExtendedNotValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Screen_AddWorkDetails_SetNewEstimatedCompletionTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Screen_AddWorkDetails_SetNewEstimatedCompletionTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>var_Service_Appointment.ActualStartTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_NewCompletionTimeInvalid</targetReference>
            </connector>
            <label>Time extended and not valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>This Decision is used to check whether the status of the Service Appointment equals &quot;On Site&quot; - the only status that allows the user to use the &quot;Add Work Details&quot; feature. If not, then show an error message on screen.</description>
        <name>decision_CheckServiceAppointmentStatus</name>
        <label>Check Service Appointment Status</label>
        <locationX>534</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Screen_SA_Status_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All other SA Status</defaultConnectorLabel>
        <rules>
            <name>outcome_SA_Status_OnSite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Service_Appointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Add_Work_Details</targetReference>
            </connector>
            <label>SA Status is &quot;On Site&quot;</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether any Job Notes have been entered by checking if the variable &quot;var_JobNote&quot; is filled. This can happen from the assignment element after the Flow Screens that prompts the user to enter job notes.</description>
        <name>Decision_CreateJobNotes</name>
        <label>Create Job Notes?</label>
        <locationX>314</locationX>
        <locationY>1670</locationY>
        <defaultConnectorLabel>Do not create Job Note</defaultConnectorLabel>
        <rules>
            <name>outcome_CreateJobNote</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_JobNote.MSN_JobNote_Details__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_Job_Note_0</targetReference>
            </connector>
            <label>Create new Job Note</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine the Object Type of the Parent Record Id triggering this flow. This is required to avoid having two flows to cater for the following scenarios:
1) The &quot;Request Reinstatement&quot; flow was launched from a Service Appointment that is related to a &quot;Work Order&quot;
2) OR The &quot;Request Reinstatement&quot; flow was launched from a Service Appointment that is related to a &quot;Work Order Line Item&quot;

In order to determine what object type the record Id is from, we find the Object type from the static &quot;Record ID prefix&quot; (first 3 digits of the ID) which is always the same on Standard objects:
- For &quot;Work Order&quot; objects the prefix is: 0WO
- For &quot;Work Order Line Items&quot; objects the prefix is: 1WL 

It was deliberately chosen to use those static/hardcoded prefixes for the decision outcomes as it only needs to cater to the above 2 cases and respect especially the Field Service Mobile App limitations in regards FSL Mobile Flow capabilities - even though it might not be best practice in general to use hardcoded elements.</description>
        <name>Decision_DetermineObjectType_ParentRecord</name>
        <label>Determine Object Type of Parent Record</label>
        <locationX>534</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Screen_UnknownObjectType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unknown Parent Object</defaultConnectorLabel>
        <rules>
            <name>outcome_Parent_Record_Is_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0WO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_WO_Id_to_WorkOrderID_Variable</targetReference>
            </connector>
            <label>Work Order</label>
        </rules>
        <rules>
            <name>outcome_Parent_Record_Is_WOLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1WL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WOLI_ParentWO</targetReference>
            </connector>
            <label>Work Order Line Item</label>
        </rules>
    </decisions>
    <description>Used in the Field Service Mobile App as an &quot;Action&quot; item for the field staff to quickly update job details such as adding photos, adding notes, or updating the scheduled end time of a job. Reference: https://watercarestp.atlassian.net/browse/MSRS-84.

13/01/22 - Version 32:  Extended mobile flow according to https://watercarestp.atlassian.net/browse/MSRS-229; Integrated functionality to create a &quot;Job Note&quot; record when user enters job notes in the field on screen; Removed the assignment of the entered job notes into the field &quot;Job Notes&quot; on the Work Order; Moved the &quot;Update Service Appointment&quot; element inside the &quot;Check for an extended time&quot; decision.

14/01/22 - Version 40: Added a new decision logic and error path into the decision &quot;Decision_CheckForExtendedTime&quot; in order to prevent users from updating the &quot;Estimated Job Completion Time&quot; to a value in the past. 

14/01/22 - Version 43: Optimized &quot;Add Work Order Details&quot; flow screen; 

14/01/22 - Version 44: Added Assignment Element to pre-load the &quot;Job Note&quot; object prior the &quot;Job Notes Added&quot; decision. This is required as of limitations in the current version of the Field Service Mobile app being unable to check for &quot;empty strings&quot; in the Add Work Details screen.

14/01/22 - Version 45: Unsuccessfully tried Validation Rule instead of Decision on valid new estimated completion time; Unsuccessfully Changed check for Empty String of Job Notes Variable

14/01/22 - Version 46/47: Rebuild structure of &quot;Create Job Note&quot; decision and put at end of flow similar to to &quot;Update Status&quot; mobile flow. Update Assignment Elements under &quot;Check for new completion time&quot; accordingly and integrated Job Notes assignment. Unsuccessful test in mobile app/mobile app flow still creating blank notes when user does not enter a &quot;job note&quot; into the flow screen. 

17/01/22 - Version 48/49:  Move Assignment Element for Job Note variable out of the Extended Time decision. Remove Job Note assignment from the outcome decision &quot;Time extended and valid&quot;; Changed Decision Element &quot;Create Job Notes&quot; to check for &quot;Note Details&quot;  IS NULL = False  instead of Does Not Equal = Empty String (not null). Please note: there currently seems to be a bug with Salesforce Field Service Mobile Flows, that prevents a check for &quot;empty string&quot; to work correctly, hence we have to check for &quot;Is Null&quot; instead, leaving the flow to not work correctly in the &quot;desktop&quot; debug flow. As the Flow is only used in Mobile App, this is acceptable for now.

23/02/22 - Version 50: Make flow compatible when Service Appointment is related to a Work Order Line Item (and not WO) too.</description>
    <formulas>
        <description>Calculates the estimated time the current job will be completed by</description>
        <name>fx_Job_End_Time_Estimated</name>
        <dataType>DateTime</dataType>
        <expression>{!var_Service_Appointment.SchedEndTime}</expression>
    </formulas>
    <interviewLabel>Field Service Mobile App - Add Work Details Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MSN - Field Service Mobile App - Add Work Details Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <description>Create a new &quot;Job Note&quot; record related to the Service Appointment that triggered this flow and Parent Work Order</description>
        <name>Create_new_Job_Note_0</name>
        <label>Create new Job Note</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <inputReference>var_JobNote</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Lookup the Service Appointment triggering this Flow from the input variable &quot;recordID&quot; and save all fields in a record variable.</description>
        <name>Get_Service_Appointment_Details</name>
        <label>Get Service Appointment Details</label>
        <locationX>534</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_CheckServiceAppointmentStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>var_Service_Appointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>ActualStartTime</queriedFields>
        <queriedFields>ActualEndTime</queriedFields>
        <queriedFields>Duration</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>In case the Service Appointment triggering this flow is related to a Work Order Line Item, then retrieve the Parent Work Order Record from the WOLI and store the Record Ids into variables.</description>
        <name>Get_WOLI_ParentWO</name>
        <label>Get Parent WO Record of WOLI and assign variable</label>
        <locationX>534</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Appointment_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputAssignments>
            <assignToReference>WorkOrderLineItemId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkOrderId</assignToReference>
            <field>WorkOrderId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update the Service Appointment that triggered this flow with new values set by the assignment elements.</description>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Assign_JobNotes</targetReference>
        </connector>
        <inputReference>var_Service_Appointment</inputReference>
    </recordUpdates>
    <screens>
        <description>This screen is presented to the Field Service Mobile App user, when opening the quick action &quot;Add Work Details&quot; and enables the user to add additional information such as Pictures or Notes to the Work Order / Service Appointment.</description>
        <name>Screen_Add_Work_Details</name>
        <label>Add Work Details</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decision_CheckForExtendedTime</targetReference>
        </connector>
        <fields>
            <name>Screen_AddWorkDetails_TakePictureHeading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Take or upload photos&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_AddWorkDetails_TakePicture</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>WorkOrderId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_AddWorkDetails_JobNotesHeading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;﻿Add job notes&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_AddWorkDetails_AddJobNotes2</name>
            <fieldText>New job note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_AddWorkDetails_NewCompletionTimeHeading</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Set a new estimated completion time&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_AddWorkDetails_CurrentEstimatedCompletionTime</name>
            <fieldText>&lt;p&gt;Current estimated completion time:&lt;/p&gt;&lt;p&gt;{!fx_Job_End_Time_Estimated}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_AddWorkDetails_SetNewEstimatedCompletionTime</name>
            <dataType>DateTime</dataType>
            <fieldText>New estimated completion time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows an Error Message to the user in case the &quot;New estimated completion time&quot; was set to a value in the past (EndTime cannot be smaller StartTime on Service Appointment).</description>
        <name>Screen_NewCompletionTimeInvalid</name>
        <label>Estimated job completion time invalid</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_SA_Status_Error_Message_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Error - New estimated job completion time is in the past. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your new estimated job completion time seems to be in the past. Please go back and update it to a valid time in the future.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows an Error Message to the user in case the status of the current Service Appointment is not &quot;on site&quot; and hence, the user is not allowed to add work details yet/or anymore.</description>
        <name>Screen_SA_Status_Error</name>
        <label>Job Status Error</label>
        <locationX>754</locationX>
        <locationY>854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_SA_Status_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Awww, Snap! We hit a snag. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;It looks like your Job is not in the right status in order to add work details. Your job might not be started yet or is already completed.&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please use the &quot;Update Status&quot; action first to confirm that you are on site.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows an Error Message to the user in case the decision cannot determine what Object type the Parent Record ID in the &quot;ParentId&quot; variable is of. (Has to be either Work Order or Work Order Line Item)</description>
        <name>Screen_UnknownObjectType</name>
        <label>Unknown Object Type</label>
        <locationX>798</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen_UnknownObjectType_ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Error - Unknown Parent Record Type&lt;/b&gt;&lt;/p&gt;&lt;p&gt;It looks like we cannot determine from which parent record (must be Work Order or Work Order Line Item) you attempted to open this feature from.&lt;/p&gt;&lt;p&gt;Please get in touch with your friendly Salesforce Support team and make them aware of this error.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_DetermineObjectType_ParentRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Holds the Record ID of the Service Appointment that triggered this flow. The Record Id is passed into the Flow by a quick action on Service Appointment.</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ParentRecord ID of the record that triggered this flow (usually the Work Order Id of the Service Appointment). This is handed over from the FSL Mobile App into the flow.</description>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record Variable for the Object &quot;Job Note&quot;. Populated by the assignment element &quot;Assign Job Notes&quot; prior to creating a new job note.</description>
        <name>var_JobNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MSN_JobNotes__c</objectType>
    </variables>
    <variables>
        <description>This Record Variable stores the full Service Appointment record including all fields retrieved from the lookup &quot;Get Service Appointment Details&quot;.</description>
        <name>var_Service_Appointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>Required to universally store the ID of the Parent Work Order - either directly parented to the Service Appointment or through the Work Order Line Item.</description>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to store the Work Order Line Item Id in case the Service Appointment is related to a WOLI (instead of a WO). This will then be used to populate WOLI lookup field on the &quot;Job Notes&quot; Record in order to make the Job Note visible on both, the WO and the WOLI.</description>
        <name>WorkOrderLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
