force-app/main/default/flows/MSN_Field_Service_Mobile_App_Other_Onsite_Activities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_desktop_record_id_to_mobile</name>
        <label>Assign desktop record id to mobile</label>
        <locationX>1172</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Appointment_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mobile_id_to_desktop</name>
        <label>Assign mobile id to desktop</label>
        <locationX>908</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Appointment_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Confined_Space_Entry</name>
        <choiceText>Confined Space Entry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confined Space Entry</stringValue>
        </value>
    </choices>
    <choices>
        <name>Service_Restore</name>
        <choiceText>Service Restore</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service Restore</stringValue>
        </value>
    </choices>
    <choices>
        <name>Water_On_Off</name>
        <choiceText>Water On/Off</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Water On Off</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_the_SA_is_on_site</name>
        <label>Check if the SA is on site</label>
        <locationX>1172</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Invalid_Activity_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_onsite_and_service_area_water</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkTypeRecord.Service_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Water</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Onsite_activites</targetReference>
            </connector>
            <label>SA onsite and service area water</label>
        </rules>
        <rules>
            <name>SA_onsite_and_service_area_wastewater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkTypeRecord.Service_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wastewater</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Onsite_activites_0</targetReference>
            </connector>
            <label>SA onsite and service area wastewater</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_selected_option</name>
        <label>Check the selected option</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Invalid_Activity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Water_On_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_do_you_want_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Water_On_Off</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calling_Water_On_Off_Flow</targetReference>
            </connector>
            <label>If Water On/Off</label>
        </rules>
        <rules>
            <name>If_Service_Restore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_do_you_want_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Service_Restore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calling_Service_Restored_Flow</targetReference>
            </connector>
            <label>If Service Restore</label>
        </rules>
        <rules>
            <name>Confined_Space_Entry_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_do_you_want_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Confined_Space_Entry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calling_Confined_Space_Entry_Flow</targetReference>
            </connector>
            <label>Confined Space Entry Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_selected_option_0</name>
        <label>Check the selected option</label>
        <locationX>1370</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Invalid_Activity_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Service_Restore_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_do_you_want_to_do_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Service_Restore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calling_Service_Restored_Flow_0</targetReference>
            </connector>
            <label>If Service Restore</label>
        </rules>
        <rules>
            <name>Confined_Space_Entry_Flow_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_do_you_want_to_do_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Confined_Space_Entry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calling_Confined_Space_Entry_Flow_0</targetReference>
            </connector>
            <label>Confined Space Entry Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_which_Id_is_passed</name>
        <label>Check which Id is passed</label>
        <locationX>1172</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Service_Appointment_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Mobile_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_mobile_id_to_desktop</targetReference>
            </connector>
            <label>If Mobile Id</label>
        </rules>
        <rules>
            <name>If_Desktop_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_desktop_record_id_to_mobile</targetReference>
            </connector>
            <label>If Desktop Id</label>
        </rules>
    </decisions>
    <description>V5: Required checkbox to true for the options
V9: Adding the error msg
V12: 1/02/2022: Calling the new confined space entry subflow.</description>
    <interviewLabel>MSN Field Service Mobile App- Other Onsite Activities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MSN Field Service Mobile App- Other Onsite Activities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Service_Appointment_Record</name>
        <label>Get Service Appointment Record</label>
        <locationX>1172</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointmentRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Key_Customer__c</queriedFields>
        <queriedFields>Dialysis_Patient__c</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Record</name>
        <label>Get Work Order Record</label>
        <locationX>1172</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_work_type_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Water_On_Off_Status__c</queriedFields>
        <queriedFields>MSN_Job_Notes__c</queriedFields>
        <queriedFields>Has_the_customer_been_notified__c</queriedFields>
        <queriedFields>Has_the_service_been_restored__c</queriedFields>
        <queriedFields>Service_Restored_Date_and_Time__c</queriedFields>
        <queriedFields>Key_Customer__c</queriedFields>
        <queriedFields>Key_Customer_Name__c</queriedFields>
        <queriedFields>Dialysis_Patient__c</queriedFields>
        <queriedFields>Dialysis_Patient_Name__c</queriedFields>
        <queriedFields>Which_streets_are_impacted__c</queriedFields>
        <queriedFields>Address_for_impacted_dialysis_patient__c</queriedFields>
        <queriedFields>Address_for_impacted_key_customer__c</queriedFields>
        <queriedFields>How_many_properties_are_impacted__c</queriedFields>
        <queriedFields>Impact_Assessment_Done__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_work_type_details</name>
        <label>Get work type details</label>
        <locationX>1172</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_the_SA_is_on_site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>WorkTypeRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Service_Area__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Invalid_Activity</name>
        <label>Invalid Activity</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Selectcorrectoption</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Error - No option selected&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Activity_0</name>
        <label>Invalid Activity</label>
        <locationX>1898</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Selectcorrectoption_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Error - Wrong job status&lt;/b&gt;&lt;/p&gt;&lt;p&gt;It looks like your Job is not in the right status in order to add work details. Your job might not be started yet or is already completed.&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please use the &quot;Update Status&quot; action first to confirm that you are on site.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Activity_0_0</name>
        <label>Invalid Activity</label>
        <locationX>1634</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Selectcorrectoption_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Error - No option selected&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Onsite_activites</name>
        <label>Other Onsite activites</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_the_selected_option</targetReference>
        </connector>
        <fields>
            <name>What_do_you_want_to_do</name>
            <choiceReferences>Water_On_Off</choiceReferences>
            <choiceReferences>Service_Restore</choiceReferences>
            <choiceReferences>Confined_Space_Entry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What do you want to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Onsite_activites_0</name>
        <label>Other Onsite activites</label>
        <locationX>1370</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_the_selected_option_0</targetReference>
        </connector>
        <fields>
            <name>What_do_you_want_to_do_0</name>
            <choiceReferences>Service_Restore</choiceReferences>
            <choiceReferences>Confined_Space_Entry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What do you want to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_which_Id_is_passed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calling_Confined_Space_Entry_Flow</name>
        <label>Calling Confined Space Entry Flow</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <flowName>MSN_Field_Service_Mobile_App_Confined_Space_Entry</flowName>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointmentRecord</assignToReference>
            <name>ServiceAppointment</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Calling_Confined_Space_Entry_Flow_0</name>
        <label>Calling Confined Space Entry Flow</label>
        <locationX>1370</locationX>
        <locationY>1214</locationY>
        <flowName>MSN_Field_Service_Mobile_App_Confined_Space_Entry</flowName>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointmentRecord</assignToReference>
            <name>ServiceAppointment</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Calling_Service_Restored_Flow</name>
        <label>Calling Service Restored Flow</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <flowName>MSN_Field_Service_Mobile_App_Service_Restored</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>recordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointmentRecord.ParentRecordId</assignToReference>
            <name>WorkOrderId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkOrderRecord</assignToReference>
            <name>WorkOrderRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Calling_Service_Restored_Flow_0</name>
        <label>Calling Service Restored Flow</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <flowName>MSN_Field_Service_Mobile_App_Service_Restored</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>recordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointmentRecord.ParentRecordId</assignToReference>
            <name>WorkOrderId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkOrderRecord</assignToReference>
            <name>WorkOrderRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Calling_Water_On_Off_Flow</name>
        <label>Calling Water On/Off Flow</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <flowName>MSN_Field_Service_Mobile_App_Water_Status_On_Off</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>recordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointmentRecord.ParentRecordId</assignToReference>
            <name>WorkOrder_ID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkOrderRecord</assignToReference>
            <name>WorkOrderRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkTypeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkType</objectType>
    </variables>
</Flow>
