force-app/main/default/flows/MSN_Field_Service_Mobile_App_Service_Restored.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_desktop_record_id_to_mobile</name>
        <label>Assign desktop record id to mobile</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ServiceAppointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_mobile_id_to_desktop</name>
        <label>Assign mobile id to desktop</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ServiceAppointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Restored_JobNotes</name>
        <label>Assign Service Restored JobNotes</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Has_the_service_been_restored__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_JobNote_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Restore</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_JobNote_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service has been restored</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Service_Restored_Date_and_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Time_of_Service_Restored</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Service_Restored_Date_and_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Time_of_Service_Restored</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Has_the_Service_Been_Restored__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRestoreValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Job_Notes_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Restored_JobNotes_0</name>
        <label>Assign Service Restored JobNotes</label>
        <locationX>94</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_JobNote_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Water On/Off</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_JobNote_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Water turned ON</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Water_On_Off_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Estimated_Water_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_time_was_water_turn_ON</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Estimated_Water_On_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_time_was_water_turn_ON</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Actual_water_on_time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_time_was_water_turn_ON</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Restore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Restored_JobNotes_0_0</name>
        <label>Assign Service Restored JobNotes</label>
        <locationX>446</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Has_the_service_been_restored__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_JobNote_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Restore</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_JobNote_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Not Restored</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.MSN_Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobNotes.Has_the_Service_Been_Restored__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRestoreValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Job_Notes_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Service_Restore_Status</name>
        <label>Check Service Restore Status</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Confirmation_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Restore_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasServiceRestored</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Restored_Yes</targetReference>
            </connector>
            <label>Service Restore Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Water_Status</name>
        <label>Check Water Status</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Invalid_input_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Water_Status_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord.Water_On_Off_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Off</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Service_Restore</targetReference>
            </connector>
            <label>Water Status Off</label>
        </rules>
        <rules>
            <name>Water_Status_On</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord.Water_On_Off_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord.Water_On_Off_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointmentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Restore</targetReference>
            </connector>
            <label>Water Status On</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_which_Id_is_passed</name>
        <label>Check which Id is passed</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_ServiceAppointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Mobile_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_mobile_id_to_desktop</targetReference>
            </connector>
            <label>If Mobile Id</label>
        </rules>
        <rules>
            <name>If_Desktop_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_desktop_record_id_to_mobile</targetReference>
            </connector>
            <label>If Desktop Id</label>
        </rules>
    </decisions>
    <description>V1: https://watercarestp.atlassian.net/browse/MSRS-264
V8 Need to add actual water on time update
V12: Updated the &quot;Service Restore Time&quot; field with the newer &quot;Service Restored Date Time&quot; field</description>
    <dynamicChoiceSets>
        <name>HasServiceRestored</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Has_the_service_been_restored__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>MSN field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MSN Field Service Mobile App -Service Restored</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Job_Notes_Record</name>
        <label>Create Job Notes Record</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
        <inputReference>JobNotes</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_ServiceAppointment</name>
        <label>Get ServiceAppointment</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointmentRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Job_Notes__c</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Water_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MSN_Job_Notes__c</queriedFields>
        <queriedFields>Water_On_Off_Status__c</queriedFields>
        <queriedFields>Has_the_customer_been_notified__c</queriedFields>
        <queriedFields>Service_Restored_Date_and_Time__c</queriedFields>
        <queriedFields>Has_the_service_been_restored__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>314</locationX>
        <locationY>2126</locationY>
        <inputReference>WorkOrderRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Cannot_Service_Restore</name>
        <label>Cannot Service Restore</label>
        <locationX>94</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Water_On_confirm</targetReference>
        </connector>
        <fields>
            <name>Service_Restored</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Service Restored&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CannotRestoreService</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Cannot restore the s&lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;ervice&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;The water is currently &lt;b&gt;{!WorkOrderRecord.Water_On_Off_Status__c}. &lt;/b&gt;You need to turn &lt;b&gt;ON&lt;/b&gt; the water before you can mark this job as service restored.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Service_Restored_JobNotes</targetReference>
        </connector>
        <fields>
            <name>servicerestorednow</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 26px;&quot;&gt;Service is now restored&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TimeOfServiceRestored</name>
            <fieldText>&lt;p&gt;Time of Service Restored&lt;/p&gt;&lt;p&gt;{!Time_of_Service_Restored}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_0</name>
        <label>Confirmation</label>
        <locationX>446</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Service_Restored_JobNotes_0_0</targetReference>
        </connector>
        <fields>
            <name>servicerestorednow_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 26px;&quot;&gt;Service is not restored&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_input_screen</name>
        <label>Invalid input screen</label>
        <locationX>534</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Check_input_value</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Error - Wrong job status&lt;/b&gt;&lt;/p&gt;&lt;p&gt;It looks like your Job is not in the right status in order to add work details. Your job might not be started yet or is already completed.&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please use the &quot;Update Status&quot; action first to confirm that you are on site.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Restore</name>
        <label>Service Restore</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Service_Restore_Status</targetReference>
        </connector>
        <fields>
            <name>Has_Service_Been_Restored_1</name>
            <choiceReferences>HasServiceRestored</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>No</stringValue>
            </defaultValue>
            <fieldText>Has Service Been Restored?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Restored_Yes</name>
        <label>Service Restored Yes</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <fields>
            <name>Time_of_Service_Restored</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Time of Service Restored</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Water_On_confirm</name>
        <label>Water On confirm</label>
        <locationX>94</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Service_Restored_JobNotes_0</targetReference>
        </connector>
        <fields>
            <name>WaterOntime</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Confirm time for water ON&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Turnwateron</name>
            <fieldText>&lt;p&gt;To turn water status &lt;b style=&quot;color: rgb(21, 140, 199);&quot;&gt;ON&lt;/b&gt;&lt;b style=&quot;color: rgb(44, 80, 98);&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_time_was_water_turn_ON</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>What time was water turn ON?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_which_Id_is_passed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>JobNotes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MSN_JobNotes__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceRestoreValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
